In [1]:
pip install yfinance --upgrade --no-cache-dir

Requirement already satisfied: yfinance in /opt/anaconda3/lib/python3.11/site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install alpha-vantage

Requirement already satisfied: alpha-vantage in /opt/anaconda3/lib/python3.11/site-packages (2.3.1)
Requirement already satisfied: aiohttp in /opt/anaconda3/lib/python3.11/site-packages (from alpha-vantage) (3.9.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.11/site-packages (from alpha-vantage) (2.31.0)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (1.9.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests->alpha-vantage) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests->alpha-vantage) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests->alpha-vantage) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests->alpha-vantage) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

## YAHOO FINANCE

In [3]:
# Import relevant libraries
import os
import numpy as np
import pandas as pd
import yfinance as yf
import requests
from datetime import datetime, timedelta

In [4]:
# Set tickers
ticker_target = 'NVDA'
ticker_comp = 'AMD 005930.KS INTC' # AMD, Samsung, Intel
ticker_supp = 'TSM ASML 000660.KS MU' # TSMC, ASML, SK Hynix
ticker_other = 'AMZN MSFT GOOG' # Amazon, Microsoft, Google
ticker_mkt = '^IXIC ^GSPC ^SOX'# Indices - Nasdaq composite, S&P500, PHLX Semiconductor
ticker_all  = " ".join([ticker_target, ticker_comp, ticker_supp, ticker_other, ticker_mkt])

# Print to check 
print(ticker_all)

NVDA AMD 005930.KS INTC TSM ASML 000660.KS MU AMZN MSFT GOOG ^IXIC ^GSPC ^SOX

In [5]:
# Set end date
project_start = datetime(2024, 5, 8).date()
end_date = project_start.strftime('%Y-%m-%d')

# Set start date
timeframe = 365 * 5 # Number of days 
start = project_start - timedelta(days=timeframe)
start_date = start.strftime('%Y-%m-%d')

# Print to check
print(end_date)
print(start_date)

2024-05-08
2019-05-10

### PRICE

In [6]:
# Load stock data into a DataFrame
df = yf.download(ticker_all, start=start_date, end=end_date)

# Print to check
print(df.tail())
print(df.info())

[*********************100%%**********************]  14 of 14 completed

Price      Adj Close                                                \
Ticker     000660.KS 005930.KS         AMD        AMZN        ASML
Date
2024-05-01       NaN       NaN  144.270004  179.000000  852.840027
2024-05-02  173600.0   78000.0  146.160004  184.720001  870.280029
2024-05-03  173200.0   77600.0  150.600006  186.210007  901.630005
2024-05-06       NaN       NaN  155.779999  188.699997  916.919983
2024-05-07  179600.0   81300.0  154.429993  188.759995  908.219971

Price                                                                  ...  \
Ticker            GOOG       INTC        MSFT          MU        NVDA  ...
Date                                                                   ...
2024-05-01  165.570007  30.247145  394.940002  109.699997  830.409973  ...
2024-05-02  168.460007  30.386578  397.839996  112.330002  858.169983  ...
2024-05-03  168.990005  30.775000  406.660004  114.699997  887.890015  ...
2024-05-06  169.830002  30.969999  413.540009  120.129997  921.400024  ...
2024-05-07  172.979996  30.680000  409.339996  119.209999  905.539978  ...

Price          Volume                                                  \
Ticker           ASML        GOOG        INTC        MSFT          MU
Date
2024-05-01  1458200.0  25223200.0  60654800.0  23562500.0  16686200.0
2024-05-02   876800.0  17041100.0  50899400.0  17709400.0  15439200.0
2024-05-03  1038000.0  22767100.0  36794800.0  17446700.0  15564400.0
2024-05-06   642000.0  15147900.0  36185600.0  16996600.0  22538700.0
2024-05-07   655000.0  21102400.0  44683400.0  20018200.0  12508300.0

Price
Ticker            NVDA         TSM         ^GSPC         ^IXIC ^SOX
Date
2024-05-01  55986300.0  12561800.0  4.544170e+09  5.277790e+09  0.0
2024-05-02  37789800.0   9261900.0  4.381660e+09  4.901610e+09  0.0
2024-05-03  39834100.0  13264300.0  3.924990e+09  4.887310e+09  0.0
2024-05-06  37620300.0   8601600.0  3.683250e+09  4.460130e+09  0.0
2024-05-07  43734200.0   8682900.0  3.987890e+09  5.041870e+09  0.0

[5 rows x 84 columns]
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1296 entries, 2019-05-10 to 2024-05-07
Data columns (total 84 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Adj Close, 000660.KS)  1230 non-null   float64
 1   (Adj Close, 005930.KS)  1230 non-null   float64
 2   (Adj Close, AMD)        1257 non-null   float64
 3   (Adj Close, AMZN)       1257 non-null   float64
 4   (Adj Close, ASML)       1257 non-null   float64
 5   (Adj Close, GOOG)       1257 non-null   float64
 6   (Adj Close, INTC)       1257 non-null   float64
 7   (Adj Close, MSFT)       1257 non-null   float64
 8   (Adj Close, MU)         1257 non-null   float64
 9   (Adj Close, NVDA)       1257 non-null   float64
 10  (Adj Close, TSM)        1257 non-null   float64
 11  (Adj Close, ^GSPC)      1257 non-null   float64
 12  (Adj Close, ^IXIC)      1257 non-null   float64
 13  (Adj Close, ^SOX)       1257 non-null   float64
 14  (Close, 000660.KS)      1230 non-null   float64
 15  (Close, 005930.KS)      1230 non-null   float64
 16  (Close, AMD)            1257 non-null   float64
 17  (Close, AMZN)           1257 non-null   float64
 18  (Close, ASML)           1257 non-null   float64
 19  (Close, GOOG)           1257 non-null   float64
 20  (Close, INTC)           1257 non-null   float64
 21  (Close, MSFT)           1257 non-null   float64
 22  (Close, MU)             1257 non-null   float64
 23  (Close, NVDA)           1257 non-null   float64
 24  (Close, TSM)            1257 non-null   float64
 25  (Close, ^GSPC)          1257 non-null   float64
 26  (Close, ^IXIC)          1257 non-null   float64
 27  (Close, ^SOX)           1257 non-null   float64
 28  (High, 000660.KS)       1230 non-null   float64
 29  (High, 005930.KS)       1230 non-null   float64
 30  (High, AMD)             1257 non-null   float64
 31  (High, AMZN)            1257 non-null   float64
 32  (High, ASML)            1257 non-null   float64
 33  (High, GOOG)            1257 non-null   float64
 34  (High, INTC)            1257 non-null   float64
 35  (High, MSFT)            1257 non-null   float64
 36  (High, MU)              1257 non-null   float64
 37  (High, NVDA)            1257 non-null   float64
 38  (High, TSM)             1257 non-null   float64
 39  (High, ^GSPC)           1257 non-null   float64
 40  (High, ^IXIC)           1257 non-null   float64
 41  (High, ^SOX)            1257 non-null   float64
 42  (Low, 000660.KS)        1230 non-null   float64
 43  (Low, 005930.KS)        1230 non-null   float64
 44  (Low, AMD)              1257 non-null   float64
 45  (Low, AMZN)             1257 non-null   float64
 46  (Low, ASML)             1257 non-null   float64
 47  (Low, GOOG)             1257 non-null   float64
 48  (Low, INTC)             1257 non-null   float64
 49  (Low, MSFT)             1257 non-null   float64
 50  (Low, MU)               1257 non-null   float64
 51  (Low, NVDA)             1257 non-null   float64
 52  (Low, TSM)              1257 non-null   float64
 53  (Low, ^GSPC)            1257 non-null   float64
 54  (Low, ^IXIC)            1257 non-null   float64
 55  (Low, ^SOX)             1257 non-null   float64
 56  (Open, 000660.KS)       1230 non-null   float64
 57  (Open, 005930.KS)       1230 non-null   float64
 58  (Open, AMD)             1257 non-null   float64
 59  (Open, AMZN)            1257 non-null   float64
 60  (Open, ASML)            1257 non-null   float64
 61  (Open, GOOG)            1257 non-null   float64
 62  (Open, INTC)            1257 non-null   float64
 63  (Open, MSFT)            1257 non-null   float64
 64  (Open, MU)              1257 non-null   float64
 65  (Open, NVDA)            1257 non-null   float64
 66  (Open, TSM)             1257 non-null   float64
 67  (Open, ^GSPC)           1257 non-null   float64
 68  (Open, ^IXIC)           1257 non-null   float64
 69  (Open, ^SOX)            1257 non-null   float64
 70  (Volume, 000660.KS)     1230 non-null   float64
 71  (Volume, 005930.KS)     1230 non-null   float64
 72  (Volume, AMD)           1257 non-null   float64
 73  (Volume, AMZN)          1257 non-null   float64
 74  (Volume, ASML)          1257 non-null   float64
 75  (Volume, GOOG)          1257 non-null   float64
 76  (Volume, INTC)          1257 non-null   float64
 77  (Volume, MSFT)          1257 non-null   float64
 78  (Volume, MU)            1257 non-null   float64
 79  (Volume, NVDA)          1257 non-null   float64
 80  (Volume, TSM)           1257 non-null   float64
 81  (Volume, ^GSPC)         1257 non-null   float64
 82  (Volume, ^IXIC)         1257 non-null   float64
 83  (Volume, ^SOX)          1257 non-null   float64
dtypes: float64(84)
memory usage: 860.6 KB
None

In [7]:
# Create new DataFrame with only close prices
new_df = df['Adj Close']

# Print to check
print(new_df.tail())
print(new_df.info())

Ticker      000660.KS  005930.KS         AMD        AMZN        ASML  \
Date
2024-05-01        NaN        NaN  144.270004  179.000000  852.840027
2024-05-02   173600.0    78000.0  146.160004  184.720001  870.280029
2024-05-03   173200.0    77600.0  150.600006  186.210007  901.630005
2024-05-06        NaN        NaN  155.779999  188.699997  916.919983
2024-05-07   179600.0    81300.0  154.429993  188.759995  908.219971

Ticker            GOOG       INTC        MSFT          MU        NVDA  \
Date
2024-05-01  165.570007  30.247145  394.940002  109.699997  830.409973
2024-05-02  168.460007  30.386578  397.839996  112.330002  858.169983
2024-05-03  168.990005  30.775000  406.660004  114.699997  887.890015
2024-05-06  169.830002  30.969999  413.540009  120.129997  921.400024
2024-05-07  172.979996  30.680000  409.339996  119.209999  905.539978

Ticker             TSM        ^GSPC         ^IXIC         ^SOX
Date
2024-05-01  134.940002  5018.390137  15605.480469  4507.680176
2024-05-02  136.229996  5064.200195  15840.959961  4605.350098
2024-05-03  141.559998  5127.790039  16156.330078  4716.189941
2024-05-06  142.830002  5180.740234  16349.250000  4820.450195
2024-05-07  141.110001  5187.700195  16332.559570  4784.879883
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1296 entries, 2019-05-10 to 2024-05-07
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   000660.KS  1230 non-null   float64
 1   005930.KS  1230 non-null   float64
 2   AMD        1257 non-null   float64
 3   AMZN       1257 non-null   float64
 4   ASML       1257 non-null   float64
 5   GOOG       1257 non-null   float64
 6   INTC       1257 non-null   float64
 7   MSFT       1257 non-null   float64
 8   MU         1257 non-null   float64
 9   NVDA       1257 non-null   float64
 10  TSM        1257 non-null   float64
 11  ^GSPC      1257 non-null   float64
 12  ^IXIC      1257 non-null   float64
 13  ^SOX       1257 non-null   float64
dtypes: float64(14)
memory usage: 151.9 KB
None

In [8]:
# Forward fill new_df
new_df = new_df.ffill(axis=0)

In [9]:
# Create columns with daily price perc change using for loop
for column in new_df.columns:
    new_df[f'{column}_chg'] = new_df[column].pct_change() * 100
    
# Print new_df to check
print(new_df.info())
print(new_df.head())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1296 entries, 2019-05-10 to 2024-05-07
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   000660.KS      1296 non-null   float64
 1   005930.KS      1296 non-null   float64
 2   AMD            1296 non-null   float64
 3   AMZN           1296 non-null   float64
 4   ASML           1296 non-null   float64
 5   GOOG           1296 non-null   float64
 6   INTC           1296 non-null   float64
 7   MSFT           1296 non-null   float64
 8   MU             1296 non-null   float64
 9   NVDA           1296 non-null   float64
 10  TSM            1296 non-null   float64
 11  ^GSPC          1296 non-null   float64
 12  ^IXIC          1296 non-null   float64
 13  ^SOX           1296 non-null   float64
 14  000660.KS_chg  1295 non-null   float64
 15  005930.KS_chg  1295 non-null   float64
 16  AMD_chg        1295 non-null   float64
 17  AMZN_chg       1295 non-null   float64
 18  ASML_chg       1295 non-null   float64
 19  GOOG_chg       1295 non-null   float64
 20  INTC_chg       1295 non-null   float64
 21  MSFT_chg       1295 non-null   float64
 22  MU_chg         1295 non-null   float64
 23  NVDA_chg       1295 non-null   float64
 24  TSM_chg        1295 non-null   float64
 25  ^GSPC_chg      1295 non-null   float64
 26  ^IXIC_chg      1295 non-null   float64
 27  ^SOX_chg       1295 non-null   float64
dtypes: float64(28)
memory usage: 293.6 KB
None
Ticker         000660.KS     005930.KS        AMD       AMZN        ASML  \
Date
2019-05-10  70162.523438  37687.656250  27.959999  94.499001  189.950531
2019-05-13  69313.796875  37468.031250  26.240000  91.134003  182.017609
2019-05-14  70351.148438  37468.031250  27.320000  92.005997  189.281448
2019-05-15  70256.835938  37380.187500  27.580000  93.557503  191.756927
2019-05-16  67804.921875  36501.683594  28.010000  95.378502  193.200150

Ticker           GOOG       INTC        MSFT         MU       NVDA  ...  \
Date                                                                ...
2019-05-10  58.213501  40.513161  121.014084  38.244068  41.918369  ...
2019-05-13  56.601501  39.250404  117.415924  36.711952  39.343468  ...
2019-05-14  56.021999  39.609940  118.729538  37.821766  40.234871  ...
2019-05-15  58.210499  40.004547  120.401520  37.723545  39.624050  ...
2019-05-16  58.949001  39.925625  123.181755  36.643200  39.775520  ...

Ticker      ASML_chg  GOOG_chg  INTC_chg  MSFT_chg    MU_chg  NVDA_chg  \
Date
2019-05-10       NaN       NaN       NaN       NaN       NaN       NaN
2019-05-13 -4.176310 -2.769116 -3.116904 -2.973340 -4.006153 -6.142657
2019-05-14  3.990735 -1.023828  0.916004  1.118770  3.023031  2.265696
2019-05-15  1.307830  3.906500  0.996234  1.408227 -0.259694 -1.518138
2019-05-16  0.752631  1.268676 -0.197283  2.309136 -2.863848  0.382268

Ticker       TSM_chg  ^GSPC_chg  ^IXIC_chg  ^SOX_chg
Date
2019-05-10       NaN        NaN        NaN       NaN
2019-05-13 -4.296071  -2.413056  -3.409397 -4.727937
2019-05-14  2.390822   0.801594   1.143847  2.404628
2019-05-15  0.000000   0.583898   1.133361  0.808830
2019-05-16 -1.048366   0.889529   0.970320 -1.676866

[5 rows x 28 columns]

In [10]:
# Reset index of new_df
new_df.reset_index(inplace=True)

# Print to check
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1296 non-null   datetime64[ns]
 1   000660.KS      1296 non-null   float64
 2   005930.KS      1296 non-null   float64
 3   AMD            1296 non-null   float64
 4   AMZN           1296 non-null   float64
 5   ASML           1296 non-null   float64
 6   GOOG           1296 non-null   float64
 7   INTC           1296 non-null   float64
 8   MSFT           1296 non-null   float64
 9   MU             1296 non-null   float64
 10  NVDA           1296 non-null   float64
 11  TSM            1296 non-null   float64
 12  ^GSPC          1296 non-null   float64
 13  ^IXIC          1296 non-null   float64
 14  ^SOX           1296 non-null   float64
 15  000660.KS_chg  1295 non-null   float64
 16  005930.KS_chg  1295 non-null   float64
 17  AMD_chg        1295 non-null   float64
 18  AMZN_chg       1295 non-null   float64
 19  ASML_chg       1295 non-null   float64
 20  GOOG_chg       1295 non-null   float64
 21  INTC_chg       1295 non-null   float64
 22  MSFT_chg       1295 non-null   float64
 23  MU_chg         1295 non-null   float64
 24  NVDA_chg       1295 non-null   float64
 25  TSM_chg        1295 non-null   float64
 26  ^GSPC_chg      1295 non-null   float64
 27  ^IXIC_chg      1295 non-null   float64
 28  ^SOX_chg       1295 non-null   float64
dtypes: datetime64[ns](1), float64(28)
memory usage: 293.8 KB
None

### ANALYST UP/DOWNGRADES

In [11]:
# Set ticker to NVDA
ticker = yf.Ticker('NVDA')

In [12]:
# Get upgrades/downgrades data
updown_df = ticker.upgrades_downgrades

# Print to check
print(updown_df)

                                   Firm      ToGrade       FromGrade Action
GradeDate
2024-05-10 15:09:21                HSBC          Buy             Buy   main
2024-05-07 12:00:45       Goldman Sachs          Buy             Buy   main
2024-04-30 15:23:13                 UBS          Buy             Buy   main
2024-04-16 09:19:10  Evercore ISI Group   Outperform                   init
2024-04-11 17:08:47       Raymond James   Strong Buy      Strong Buy   main
...                                 ...          ...             ...    ...
2012-05-14 10:19:00           Jefferies         Hold                   main
2012-04-05 11:07:00   Cantor Fitzgerald          Buy                   init
2012-02-16 12:29:00  Evercore ISI Group  Underweight                   main
2012-02-16 11:34:00   B of A Securities      Neutral             Buy   down
2012-02-13 12:27:00         FBR Capital   Outperform  Market Perform     up

[720 rows x 4 columns]

In [13]:
# Check unique values of Action column
updown_df['Action'].unique()

array(['main', 'init', 'reit', 'down', 'up'], dtype=object)

In [14]:
# Count the rows that are not upgrades or downgrades
count = updown_df[(updown_df['Action'] == 'main') | (updown_df['Action'] == 'init') | (updown_df['Action'] == 'reit')].shape[0]
print(count)

619

In [15]:
# Drop rows that are not upgrades or downgrades
fupdown_df = updown_df.drop(updown_df[(updown_df['Action'] == 'main') | (updown_df['Action'] == 'init') | (updown_df['Action'] == 'reit')].index)

# Print to check
print(fupdown_df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 101 entries, 2023-11-22 16:59:10 to 2012-02-13 12:27:00
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Firm       101 non-null    object
 1   ToGrade    101 non-null    object
 2   FromGrade  101 non-null    object
 3   Action     101 non-null    object
dtypes: object(4)
memory usage: 3.9+ KB
None

In [16]:
# Update values of Action column to integers
fupdown_df['Action'] = fupdown_df['Action'].replace({'up': 1, 'down': -1})

# Print to check
print(fupdown_df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 101 entries, 2023-11-22 16:59:10 to 2012-02-13 12:27:00
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Firm       101 non-null    object
 1   ToGrade    101 non-null    object
 2   FromGrade  101 non-null    object
 3   Action     101 non-null    int64
dtypes: int64(1), object(3)
memory usage: 3.9+ KB
None

In [17]:
# Drop irrelevant columns
irr_col = ['Firm', 'ToGrade', 'FromGrade']
fupdown_df = fupdown_df.drop(irr_col, axis = 1)

# Reset index of fupdown_df
fupdown_df.reset_index(inplace=True)

# Rename column
fupdown_df.rename(columns={'GradeDate': 'Date'}, inplace=True)

# Change Date to exclude time
fupdown_df['Date'] = fupdown_df['Date'].dt.normalize()

# Print to check
print(fupdown_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    101 non-null    datetime64[ns]
 1   Action  101 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.7 KB
None

In [18]:
# Combine Action values for each date
fupdown_df = fupdown_df.groupby('Date')['Action'].sum().reset_index()

# Print to check
print(fupdown_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    92 non-null     datetime64[ns]
 1   Action  92 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.6 KB
None

In [19]:
# Merge Action column into new_df
new_df = pd.merge(new_df, fupdown_df, on='Date', how='left')

# Print to check
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1296 non-null   datetime64[ns]
 1   000660.KS      1296 non-null   float64
 2   005930.KS      1296 non-null   float64
 3   AMD            1296 non-null   float64
 4   AMZN           1296 non-null   float64
 5   ASML           1296 non-null   float64
 6   GOOG           1296 non-null   float64
 7   INTC           1296 non-null   float64
 8   MSFT           1296 non-null   float64
 9   MU             1296 non-null   float64
 10  NVDA           1296 non-null   float64
 11  TSM            1296 non-null   float64
 12  ^GSPC          1296 non-null   float64
 13  ^IXIC          1296 non-null   float64
 14  ^SOX           1296 non-null   float64
 15  000660.KS_chg  1295 non-null   float64
 16  005930.KS_chg  1295 non-null   float64
 17  AMD_chg        1295 non-null   float64
 18  AMZN_chg       1295 non-null   float64
 19  ASML_chg       1295 non-null   float64
 20  GOOG_chg       1295 non-null   float64
 21  INTC_chg       1295 non-null   float64
 22  MSFT_chg       1295 non-null   float64
 23  MU_chg         1295 non-null   float64
 24  NVDA_chg       1295 non-null   float64
 25  TSM_chg        1295 non-null   float64
 26  ^GSPC_chg      1295 non-null   float64
 27  ^IXIC_chg      1295 non-null   float64
 28  ^SOX_chg       1295 non-null   float64
 29  Action         29 non-null     float64
dtypes: datetime64[ns](1), float64(29)
memory usage: 303.9 KB
None

## BARCHART

### INSIDER TRANSACTIONS

In [20]:
# Get directory
current_dir = os.getcwd()

# Set folder path
folder_path = os.path.join(current_dir, 'raw')

# Create the file path
file_path_ins = os.path.join(folder_path, 'nvda_ins_sale.csv')

# Import data from csv
ins_df = pd.read_csv(file_path_ins)

# Print to check
print(ins_df.info())
print(ins_df.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          282 non-null    object
 1   Insider Name  282 non-null    object
 2   Title         180 non-null    object
 3   Transaction   282 non-null    object
 4   Shares        282 non-null    int64
 5   @Price        282 non-null    float64
 6   Trans Total   282 non-null    int64
 7   Shares After  282 non-null    int64
 8   %Held After   282 non-null    float64
dtypes: float64(2), int64(3), object(4)
memory usage: 20.0+ KB
None
           Date      Insider Name          Title          Transaction  Shares  \
277  2019-03-20  Timothy S. Teter  Gen Cou & Sec  Sale Post-exercise*    1790
278  2019-03-20    Dr. Jay K Puri      VP of Ops  Sale Post-exercise*   29312
279  2019-03-20   Dr Jensen Huang            CEO  Sale Post-exercise*  115359
280  2019-03-01     Michael Byron            CAO                 Sell     114
281  2019-01-02   Debora Shoquist      VP of Ops                 Sell    6345

       @Price  Trans Total  Shares After  %Held After
277  174.4000       312177         67766       0.0112
278  174.4000      5112013        289234       0.0477
279  174.4000     20118609      21832521       3.6027
280  154.7651        17644         77888       0.0129
281  135.3326       858685        177911       0.0292

In [21]:
# Convert Date to datetime format
ins_df['Date'] = pd.to_datetime(ins_df['Date'])

# Print to check
print(ins_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          282 non-null    datetime64[ns]
 1   Insider Name  282 non-null    object
 2   Title         180 non-null    object
 3   Transaction   282 non-null    object
 4   Shares        282 non-null    int64
 5   @Price        282 non-null    float64
 6   Trans Total   282 non-null    int64
 7   Shares After  282 non-null    int64
 8   %Held After   282 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 20.0+ KB
None

In [22]:
# Combine transaction values for each date
ins_df = ins_df.groupby('Date')['Trans Total'].sum().reset_index()

# Print to check
print(ins_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         155 non-null    datetime64[ns]
 1   Trans Total  155 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 2.6 KB
None

In [23]:
# Merge Trans Total column into new_df
new_df = pd.merge(new_df, ins_df, on='Date', how='left')

# Print to check
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1296 non-null   datetime64[ns]
 1   000660.KS      1296 non-null   float64
 2   005930.KS      1296 non-null   float64
 3   AMD            1296 non-null   float64
 4   AMZN           1296 non-null   float64
 5   ASML           1296 non-null   float64
 6   GOOG           1296 non-null   float64
 7   INTC           1296 non-null   float64
 8   MSFT           1296 non-null   float64
 9   MU             1296 non-null   float64
 10  NVDA           1296 non-null   float64
 11  TSM            1296 non-null   float64
 12  ^GSPC          1296 non-null   float64
 13  ^IXIC          1296 non-null   float64
 14  ^SOX           1296 non-null   float64
 15  000660.KS_chg  1295 non-null   float64
 16  005930.KS_chg  1295 non-null   float64
 17  AMD_chg        1295 non-null   float64
 18  AMZN_chg       1295 non-null   float64
 19  ASML_chg       1295 non-null   float64
 20  GOOG_chg       1295 non-null   float64
 21  INTC_chg       1295 non-null   float64
 22  MSFT_chg       1295 non-null   float64
 23  MU_chg         1295 non-null   float64
 24  NVDA_chg       1295 non-null   float64
 25  TSM_chg        1295 non-null   float64
 26  ^GSPC_chg      1295 non-null   float64
 27  ^IXIC_chg      1295 non-null   float64
 28  ^SOX_chg       1295 non-null   float64
 29  Action         29 non-null     float64
 30  Trans Total    150 non-null    float64
dtypes: datetime64[ns](1), float64(30)
memory usage: 314.0 KB
None

## ALPHA VANTAGE

### EARNINGS SURPRISE

In [24]:
# Set url to retrieve data
url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=NVDA&apikey=JI8F8CG68TLZIDYU'

# Retrieve data
r = requests.get(url)
av_data = r.json()

In [25]:
# Check keys
print(av_data.keys())

dict_keys(['symbol', 'annualEarnings', 'quarterlyEarnings'])

In [26]:
# Convert json into a DataFrame
quarterlye_df = pd.DataFrame(av_data['quarterlyEarnings'])

# Print to check
print(quarterlye_df)
print(quarterlye_df.info())

   fiscalDateEnding reportedDate reportedEPS estimatedEPS surprise  \
0        2024-01-31   2024-02-21        5.16         4.29     0.87
1        2023-10-31   2023-11-21        4.02         3.37     0.65
2        2023-07-31   2023-08-23         2.7         2.09     0.61
3        2023-04-30   2023-05-24        1.09         0.92     0.17
4        2023-01-31   2023-02-22        0.88         0.81     0.07
..              ...          ...         ...          ...      ...
95       2000-04-30   2000-05-16        0.01         0.01        0
96       2000-01-31   2000-02-15        0.01         0.01        0
97       1999-10-31   1999-11-18        0.01         0.02    -0.01
98       1999-07-31   1999-08-18        0.02         0.02        0
99       1999-04-30   1999-05-18        0.02         0.01     0.01

   surprisePercentage   reportTime
0             20.2797  post-market
1             19.2878  post-market
2             29.1866  post-market
3             18.4783  post-market
4               8.642  post-market
..                ...          ...
95                  0   pre-market
96                  0   pre-market
97                -50   pre-market
98                  0   pre-market
99                100   pre-market

[100 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fiscalDateEnding    100 non-null    object
 1   reportedDate        100 non-null    object
 2   reportedEPS         100 non-null    object
 3   estimatedEPS        100 non-null    object
 4   surprise            100 non-null    object
 5   surprisePercentage  100 non-null    object
 6   reportTime          100 non-null    object
dtypes: object(7)
memory usage: 5.6+ KB
None

In [27]:
# Create new DataFrame from quarterlye_df
surprise_df = quarterlye_df[['reportedDate','surprise','surprisePercentage']].copy()

# Rename column
surprise_df.rename(columns={'reportedDate': 'Date'}, inplace=True)

# Convert Date to datetime format
surprise_df['Date'] = pd.to_datetime(surprise_df['Date'])

# Print to check
print(surprise_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                100 non-null    datetime64[ns]
 1   surprise            100 non-null    object
 2   surprisePercentage  100 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 2.5+ KB
None

In [28]:
# Merge surprise and surprisePercentage into new_df
new_df = pd.merge(new_df, surprise_df, on='Date', how='left')

# Print to check
print(new_df.info())
print(new_df.iloc[1100:1150])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1296 non-null   datetime64[ns]
 1   000660.KS           1296 non-null   float64
 2   005930.KS           1296 non-null   float64
 3   AMD                 1296 non-null   float64
 4   AMZN                1296 non-null   float64
 5   ASML                1296 non-null   float64
 6   GOOG                1296 non-null   float64
 7   INTC                1296 non-null   float64
 8   MSFT                1296 non-null   float64
 9   MU                  1296 non-null   float64
 10  NVDA                1296 non-null   float64
 11  TSM                 1296 non-null   float64
 12  ^GSPC               1296 non-null   float64
 13  ^IXIC               1296 non-null   float64
 14  ^SOX                1296 non-null   float64
 15  000660.KS_chg       1295 non-null   float64
 16  005930.KS_chg       1295 non-null   float64
 17  AMD_chg             1295 non-null   float64
 18  AMZN_chg            1295 non-null   float64
 19  ASML_chg            1295 non-null   float64
 20  GOOG_chg            1295 non-null   float64
 21  INTC_chg            1295 non-null   float64
 22  MSFT_chg            1295 non-null   float64
 23  MU_chg              1295 non-null   float64
 24  NVDA_chg            1295 non-null   float64
 25  TSM_chg             1295 non-null   float64
 26  ^GSPC_chg           1295 non-null   float64
 27  ^IXIC_chg           1295 non-null   float64
 28  ^SOX_chg            1295 non-null   float64
 29  Action              29 non-null     float64
 30  Trans Total         150 non-null    float64
 31  surprise            20 non-null     object
 32  surprisePercentage  20 non-null     object
dtypes: datetime64[ns](1), float64(30), object(2)
memory usage: 334.3+ KB
None
           Date      000660.KS     005930.KS         AMD        AMZN  \
1100 2023-08-04  119339.078125  67624.507812  115.820000  139.570007
1101 2023-08-07  121127.671875  67822.531250  116.809998  142.220001
1102 2023-08-08  117848.578125  66931.429688  113.230003  139.940002
1103 2023-08-09  117749.210938  68218.578125  110.470001  137.850006
1104 2023-08-10  117749.210938  67327.476562  110.230003  138.559998
1105 2023-08-11  114569.492188  66832.421875  107.570000  138.410004
1106 2023-08-14  114172.023438  66634.398438  111.980003  140.570007
1107 2023-08-15  114172.023438  66634.398438  111.349998  137.669998
1108 2023-08-16  115066.320312  66337.367188  107.190002  135.070007
1109 2023-08-17  114072.656250  66040.335938  104.440002  133.979996
1110 2023-08-18  116457.453125  65644.289062  105.449997  133.220001
1111 2023-08-21  115662.515625  65941.320312  108.220001  134.679993
1112 2023-08-22  115761.890625  65941.320312  105.660004  134.250000
1113 2023-08-23  115265.054688  66436.382812  109.430000  135.520004
1114 2023-08-24  120134.015625  67525.500000  101.800003  131.839996
1115 2023-08-25  115761.890625  66436.382812  102.250000  133.259995
1116 2023-08-28  115165.687500  66139.351562  102.610001  133.139999
1117 2023-08-29  117848.578125  66139.351562  105.919998  134.910004
1118 2023-08-30  118643.507812  66436.382812  106.589996  135.070007
1119 2023-08-31  121028.304688  66238.351562  105.720001  138.009995
1120 2023-09-01  119239.710938  70297.804688  109.449997  138.119995
1121 2023-09-04  118444.773438  70495.828125  109.449997  138.119995
1122 2023-09-05  118643.507812  70000.773438  110.779999  137.270004
1123 2023-09-06  117451.117188  69307.695312  109.279999  135.360001
1124 2023-09-07  117749.210938  69703.742188  106.589996  137.850006
1125 2023-09-08  112979.625000  69604.726562  106.089996  138.229996
1126 2023-09-11  115165.687500  70099.789062  105.320000  143.100006
1127 2023-09-12  115960.617188  69802.757812  105.309998  141.229996
1128 2023-09-13  117749.210938  70198.789062  107.709999  144.850006
1129 2023-09-14  121425.773438  70990.882812  106.629997  144.720001
1130 2023-09-15  121624.500000  71287.921875  101.489998  140.389999
1131 2023-09-18  118246.046875  69505.710938  102.370003  139.979996
1132 2023-09-19  118444.773438  69109.671875  101.610001  137.630005
1133 2023-09-20  117252.375000  68911.648438  100.339996  135.289993
1134 2023-09-21  115761.890625  68218.578125   96.110001  129.330002
1135 2023-09-22  116556.812500  68119.562500   96.199997  129.119995
1136 2023-09-25  116258.718750  68713.632812   97.379997  131.270004
1137 2023-09-26  114565.148438  68276.703125   95.959999  125.980003
1138 2023-09-27  114266.281250  68077.640625   98.070000  125.980003
1139 2023-09-28  114266.281250  68077.640625  102.760002  125.980003
1140 2023-09-29  114266.281250  68077.640625  102.820000  127.120003
1141 2023-10-02  114266.281250  68077.640625  103.269997  129.460007
1142 2023-10-03  114266.281250  68077.640625  100.080002  124.720001
1143 2023-10-04  114963.632812  67181.882812  104.070000  127.000000
1144 2023-10-05  119745.484375  66385.656250  102.910004  125.959999
1145 2023-10-06  119944.734375  65688.953125  107.239998  127.959999
1146 2023-10-09  119944.734375  65688.953125  106.970001  128.259995
1147 2023-10-10  119048.132812  66087.070312  109.010002  129.479996
1148 2023-10-11  118749.273438  67878.585938  108.309998  131.830002
1149 2023-10-12  123730.359375  68575.289062  108.790001  132.330002

            ASML        GOOG       INTC        MSFT         MU  ...    MU_chg  \
1100  673.724915  128.539993  34.781193  325.822418  69.633026  ...  1.055235
1101  689.007019  131.940002  34.870277  328.138489  69.105118  ... -0.758129
1102  675.046448  131.839996  34.662422  324.102753  67.381973  ... -2.493512
1103  668.210205  130.149994  33.929977  320.305603  66.435738  ... -1.404286
1104  673.496399  130.210007  34.325893  321.001373  65.180733  ... -1.889051
1105  657.568420  130.169998  34.533749  319.092865  64.114967  ... -1.635093
1106  662.308105  131.830002  35.315681  322.104797  68.009483  ...  6.074270
1107  647.552612  130.270004  34.414970  319.937744  65.071167  ... -4.320451
1108  642.326050  129.110001  33.187634  319.160797  63.965565  ... -1.699066
1109  640.239380  130.460007  32.247334  315.654449  63.308182  ... -1.027714
1110  651.159424  128.110001  32.415600  315.255981  63.338058  ...  0.047192
1111  658.303711  128.929993  32.801617  320.635101  63.706593  ...  0.581853
1112  663.271912  129.690002  32.554173  321.212830  63.158775  ... -0.859907
1113  672.810791  133.210007  33.633041  325.735291  64.931725  ...  2.807130
1114  643.697266  130.419998  32.257233  318.732483  63.437660  ... -2.300977
1115  646.866943  130.690002  32.910496  321.730835  63.467548  ...  0.047114
1116  654.796143  131.789993  33.276714  322.448059  65.051247  ...  2.495288
1117  663.261902  135.490005  33.959671  327.139832  66.415817  ...  2.097686
1118  665.298950  136.929993  34.177422  327.518372  67.820229  ...  2.114574
1119  656.326416  137.350006  34.781193  326.492371  69.662903  ...  2.716998
1120  658.303711  136.800003  36.236187  327.388855  70.111122  ...  0.643412
1121  658.303711  136.800003  36.236187  327.388855  70.111122  ...  0.000000
1122  659.337097  136.710007  36.335167  332.259918  70.011513  ... -0.142074
1123  661.801270  135.369995  36.602406  331.592560  70.131042  ...  0.170729
1124  633.731079  136.199997  37.790157  328.634033  69.593185  ... -0.766931
1125  623.864319  137.199997  37.621891  332.977142  69.901955  ...  0.443677
1126  623.715271  137.740005  38.195969  336.632965  69.752548  ... -0.213737
1127  614.861938  136.070007  38.463215  330.486816  70.031441  ...  0.399831
1128  613.123047  137.500000  38.314743  334.760254  70.569305  ...  0.768033
1129  617.942261  138.990005  38.275150  337.390015  71.505569  ...  1.326730
1130  592.862793  138.300003  37.493221  328.942810  69.603134  ... -2.660541
1131  593.926025  138.960007  37.602097  327.787292  70.220688  ...  0.887250
1132  589.991272  138.830002  35.968945  327.378876  70.429848  ...  0.297861
1133  586.126038  134.589996  34.335793  319.529388  69.403931  ... -1.456651
1134  578.415405  131.360001  34.296200  318.294189  67.630989  ... -2.554526
1135  583.363647  131.250000  33.830997  315.783936  68.607101  ...  1.443292
1136  582.399841  132.169998  33.939877  316.311890  68.308289  ... -0.435542
1137  569.065308  129.449997  33.484573  310.932770  67.670830  ... -0.933209
1138  570.873718  131.460007  34.256611  311.580231  67.939758  ...  0.397407
1139  576.954773  133.130005  34.820786  312.426971  64.941681  ... -4.412847
1140  584.913696  131.850006  35.187008  314.528809  67.760460  ...  4.340477
1141  578.474976  135.169998  35.097927  320.555389  67.690750  ... -0.102877
1142  566.968628  133.300003  35.325577  312.177917  67.561264  ... -0.191291
1143  587.099792  136.270004  35.563133  317.726379  67.840157  ...  0.412799
1144  577.988098  135.990005  35.523537  318.124817  68.776436  ...  1.380125
1145  593.558411  138.729996  35.820473  325.994293  69.799072  ...  1.486899
1146  587.606445  139.500000  35.691803  328.544373  69.320183  ... -0.686097
1147  598.317932  139.199997  36.058022  327.119934  68.911125  ... -0.590099
1148  602.332153  141.699997  36.503433  331.134338  70.048500  ...  1.650495
1149  612.834961  140.289993  36.463837  329.879211  69.589554  ... -0.655184

      NVDA_chg   TSM_chg  ^GSPC_chg  ^IXIC_chg  ^SOX_chg  Action  Trans Total  \
1100  0.370652  1.242373  -0.530007  -0.361608 -0.239480     NaN          NaN
1101  1.649516  0.197578   0.902409   0.612256  1.086991     NaN          NaN
1102 -1.657966 -1.930460  -0.421828  -0.786601 -1.604264     NaN          NaN
1103 -4.724172 -0.539740  -0.703873  -1.168950 -1.873663     NaN          NaN
1104 -0.390085  0.872533   0.025071   0.116387 -0.372803     NaN          NaN
1105 -3.616601 -2.964143  -0.106969  -0.677979 -2.292730     NaN          NaN
1106  7.093391  1.174046   0.575048   1.051536  2.870919     NaN          NaN
1107  0.427393 -1.493494  -1.155091  -1.140677 -1.700756     NaN          NaN
1108 -1.033231  0.109076  -0.755540  -1.147527 -2.078805     NaN          NaN
1109 -0.326539 -0.152545  -0.771291  -1.170349 -0.969230     NaN          NaN
1110 -0.103818 -0.589265  -0.014871  -0.196362  0.475572     NaN          NaN
1111  8.471326  1.602628   0.687919   1.556038  2.830129     NaN          NaN
1112 -2.765779 -0.345715  -0.277747   0.061346 -0.928179     NaN          NaN
1113  3.170720  2.146572   1.104488   1.593086  2.106763     NaN          NaN
1114  0.099750 -1.793673  -1.345797  -1.873478 -3.351183     3.0          NaN
1115 -2.427750  0.616021   0.671797   0.940886  0.412198     NaN          NaN
1116  1.775396  0.966695   0.626462   0.842340  1.207793     NaN    2294476.0
1117  4.161414  1.148933   1.450831   1.741172  2.591954     NaN   25091708.0
1118  0.983934 -0.315519   0.383318   0.541818  0.395360     NaN          NaN
1119  0.184710 -1.276640  -0.159694   0.111704  0.741235     NaN          NaN
1120 -1.714106 -0.406111   0.179913  -0.022516  0.324445     NaN          NaN
1121  0.000000  0.000000   0.000000   0.000000  0.000000     NaN          NaN
1122  0.080399  1.513040  -0.419418  -0.077391  0.025794     NaN          NaN
1123 -3.054967 -2.473578  -0.697160  -1.058990 -0.796193     NaN   42828054.0
1124 -1.742417 -2.395398  -0.321127  -0.891259 -1.979769     NaN          NaN
1125 -1.446766 -0.455311   0.142662   0.092373 -0.450017     NaN          NaN
1126 -0.864569 -0.044620   0.672345   1.136206  0.090858     NaN   26935697.0
1127 -0.681749  0.982154  -0.569589  -1.036646 -0.788402     NaN          NaN
1128  1.370633  0.817848   0.124163   0.290262  0.547003     NaN   26896438.0
1129  0.211052  0.794497   0.842992   0.814126  0.667611     NaN   13528346.0
1130 -3.687941 -2.427020  -1.215961  -1.563399 -3.008738     NaN          NaN
1131  0.150342 -0.470593   0.072129   0.013934  0.462551     NaN          NaN
1132 -1.014416 -0.742996  -0.215101  -0.233765 -0.957773     NaN          NaN
1133 -2.943471 -0.998063  -0.939479  -1.528423 -1.740665     NaN   19176086.0
1134 -2.893061 -2.211020  -1.640093  -1.820084 -1.764146     NaN          NaN
1135  1.445734  0.328011  -0.229560  -0.092037  0.791888     NaN          NaN
1136  1.470807  0.700610   0.402307   0.450436  0.718212     NaN          NaN
1137 -0.736585 -2.261126  -1.473453  -1.565104 -1.765468     NaN          NaN
1138  1.329006  1.364337   0.022931   0.223822  0.954757     NaN          NaN
1139  1.462286  1.135302   0.589317   0.828167  1.772473     NaN          NaN
1140  0.951507  0.567060  -0.270958   0.136654  0.388778     NaN          NaN
1141  2.949502  0.863059   0.007937   0.669091  0.423961     NaN          NaN
1142 -2.824800 -2.555617  -1.374407  -1.865826 -2.095482     NaN          NaN
1143  1.204126  1.475226   0.810975   1.351816  1.431621     NaN          NaN
1144  1.469090  0.415381  -0.130403  -0.122240 -0.523806     NaN          NaN
1145  2.403331  2.596807   1.181489   1.599943  2.002653     NaN          NaN
1146 -1.068573 -0.335985   0.630385   0.393858 -0.226169     NaN          NaN
1147  1.159633  1.820430   0.520799   0.582900  1.289745     NaN          NaN
1148  2.200970  1.534046   0.429301   0.714009  0.733471     NaN          NaN
1149  0.296968  0.456518  -0.624643  -0.625637  0.304990     NaN          NaN

      surprise  surprisePercentage
1100       NaN                 NaN
1101       NaN                 NaN
1102       NaN                 NaN
1103       NaN                 NaN
1104       NaN                 NaN
1105       NaN                 NaN
1106       NaN                 NaN
1107       NaN                 NaN
1108       NaN                 NaN
1109       NaN                 NaN
1110       NaN                 NaN
1111       NaN                 NaN
1112       NaN                 NaN
1113      0.61             29.1866
1114       NaN                 NaN
1115       NaN                 NaN
1116       NaN                 NaN
1117       NaN                 NaN
1118       NaN                 NaN
1119       NaN                 NaN
1120       NaN                 NaN
1121       NaN                 NaN
1122       NaN                 NaN
1123       NaN                 NaN
1124       NaN                 NaN
1125       NaN                 NaN
1126       NaN                 NaN
1127       NaN                 NaN
1128       NaN                 NaN
1129       NaN                 NaN
1130       NaN                 NaN
1131       NaN                 NaN
1132       NaN                 NaN
1133       NaN                 NaN
1134       NaN                 NaN
1135       NaN                 NaN
1136       NaN                 NaN
1137       NaN                 NaN
1138       NaN                 NaN
1139       NaN                 NaN
1140       NaN                 NaN
1141       NaN                 NaN
1142       NaN                 NaN
1143       NaN                 NaN
1144       NaN                 NaN
1145       NaN                 NaN
1146       NaN                 NaN
1147       NaN                 NaN
1148       NaN                 NaN
1149       NaN                 NaN

[50 rows x 33 columns]

## CHART EXCHANGE

### SHORT INTEREST

In [29]:
# Create the file path
file_path_short = os.path.join(folder_path, 'nvda_short_only.csv')

# Import data from csv
short_df = pd.read_csv(file_path_short)

# Print to check
print(short_df.info())
print(short_df.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         376 non-null    int64
 1   total_short  376 non-null    int64
 2   perc_short   376 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 8.9 KB
None
         date  total_short  perc_short
371  20221111     29517874    0.618594
372  20221110     26907680    0.574049
373  20221109     18794182    0.594490
374  20221108     27869720    0.608833
375  20221107     19608450    0.635426

In [30]:
# Change data type of date column to string
short_df['date'] = short_df['date'].astype(str)

# Print to check
print(short_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         376 non-null    object
 1   total_short  376 non-null    int64
 2   perc_short   376 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.9+ KB
None

In [31]:
# Change data type of date column to date
short_df['date'] = pd.to_datetime(short_df['date'], format='%Y%m%d')
short_df['date'] = pd.to_datetime(short_df['date'], format='%Y-%m-%d')

# Rename date column
short_df.rename(columns={'date': 'Date'}, inplace=True)

# Print to check
print(short_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         376 non-null    datetime64[ns]
 1   total_short  376 non-null    int64
 2   perc_short   376 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 8.9 KB
None

In [32]:
# Merge total_short and perc_short into new_df
new_df = pd.merge(new_df, short_df, on='Date', how='left')

# Print to check
print(new_df.info())
print(new_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1296 non-null   datetime64[ns]
 1   000660.KS           1296 non-null   float64
 2   005930.KS           1296 non-null   float64
 3   AMD                 1296 non-null   float64
 4   AMZN                1296 non-null   float64
 5   ASML                1296 non-null   float64
 6   GOOG                1296 non-null   float64
 7   INTC                1296 non-null   float64
 8   MSFT                1296 non-null   float64
 9   MU                  1296 non-null   float64
 10  NVDA                1296 non-null   float64
 11  TSM                 1296 non-null   float64
 12  ^GSPC               1296 non-null   float64
 13  ^IXIC               1296 non-null   float64
 14  ^SOX                1296 non-null   float64
 15  000660.KS_chg       1295 non-null   float64
 16  005930.KS_chg       1295 non-null   float64
 17  AMD_chg             1295 non-null   float64
 18  AMZN_chg            1295 non-null   float64
 19  ASML_chg            1295 non-null   float64
 20  GOOG_chg            1295 non-null   float64
 21  INTC_chg            1295 non-null   float64
 22  MSFT_chg            1295 non-null   float64
 23  MU_chg              1295 non-null   float64
 24  NVDA_chg            1295 non-null   float64
 25  TSM_chg             1295 non-null   float64
 26  ^GSPC_chg           1295 non-null   float64
 27  ^IXIC_chg           1295 non-null   float64
 28  ^SOX_chg            1295 non-null   float64
 29  Action              29 non-null     float64
 30  Trans Total         150 non-null    float64
 31  surprise            20 non-null     object
 32  surprisePercentage  20 non-null     object
 33  total_short         376 non-null    float64
 34  perc_short          376 non-null    float64
dtypes: datetime64[ns](1), float64(32), object(2)
memory usage: 354.5+ KB
None
        Date     000660.KS     005930.KS        AMD       AMZN        ASML  \
0 2019-05-10  70162.523438  37687.656250  27.959999  94.499001  189.950531
1 2019-05-13  69313.796875  37468.031250  26.240000  91.134003  182.017609
2 2019-05-14  70351.148438  37468.031250  27.320000  92.005997  189.281448
3 2019-05-15  70256.835938  37380.187500  27.580000  93.557503  191.756927
4 2019-05-16  67804.921875  36501.683594  28.010000  95.378502  193.200150

        GOOG       INTC        MSFT         MU  ...   TSM_chg  ^GSPC_chg  \
0  58.213501  40.513161  121.014084  38.244068  ...       NaN        NaN
1  56.601501  39.250404  117.415924  36.711952  ... -4.296071  -2.413056
2  56.021999  39.609940  118.729538  37.821766  ...  2.390822   0.801594
3  58.210499  40.004547  120.401520  37.723545  ...  0.000000   0.583898
4  58.949001  39.925625  123.181755  36.643200  ... -1.048366   0.889529

   ^IXIC_chg  ^SOX_chg  Action  Trans Total  surprise  surprisePercentage  \
0        NaN       NaN     NaN          NaN       NaN                 NaN
1  -3.409397 -4.727937     NaN          NaN       NaN                 NaN
2   1.143847  2.404628     NaN          NaN       NaN                 NaN
3   1.133361  0.808830     NaN          NaN       NaN                 NaN
4   0.970320 -1.676866     NaN          NaN      0.02                  10

   total_short  perc_short
0          NaN         NaN
1          NaN         NaN
2          NaN         NaN
3          NaN         NaN
4          NaN         NaN

[5 rows x 35 columns]

## MACROTRENDS

### P/E RATIO

In [33]:
# Create the file path
file_path_pe = os.path.join(folder_path, 'nvda_peratio_only.csv')

# Import data from csv
pe_df = pd.read_csv(file_path_pe)

# Print to check
print(pe_df.info())
print(pe_df.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      59 non-null     object
 1   PE Ratio  59 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB
None
          Date  PE Ratio
54  2010-10-31     30.66
55  2010-07-31     21.10
56  2010-04-30     31.36
57  2010-01-31      0.00
58  2009-10-31      0.00

In [34]:
# Convert Date to datetime format
pe_df['Date'] = pd.to_datetime(pe_df['Date'])

# Print to check
print(pe_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      59 non-null     datetime64[ns]
 1   PE Ratio  59 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB
None

In [35]:
# Merge PE ratio into new_df
new_df = pd.merge(new_df, pe_df, on='Date', how='left')

# Print to check
print(new_df.info())
print(new_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1296 non-null   datetime64[ns]
 1   000660.KS           1296 non-null   float64
 2   005930.KS           1296 non-null   float64
 3   AMD                 1296 non-null   float64
 4   AMZN                1296 non-null   float64
 5   ASML                1296 non-null   float64
 6   GOOG                1296 non-null   float64
 7   INTC                1296 non-null   float64
 8   MSFT                1296 non-null   float64
 9   MU                  1296 non-null   float64
 10  NVDA                1296 non-null   float64
 11  TSM                 1296 non-null   float64
 12  ^GSPC               1296 non-null   float64
 13  ^IXIC               1296 non-null   float64
 14  ^SOX                1296 non-null   float64
 15  000660.KS_chg       1295 non-null   float64
 16  005930.KS_chg       1295 non-null   float64
 17  AMD_chg             1295 non-null   float64
 18  AMZN_chg            1295 non-null   float64
 19  ASML_chg            1295 non-null   float64
 20  GOOG_chg            1295 non-null   float64
 21  INTC_chg            1295 non-null   float64
 22  MSFT_chg            1295 non-null   float64
 23  MU_chg              1295 non-null   float64
 24  NVDA_chg            1295 non-null   float64
 25  TSM_chg             1295 non-null   float64
 26  ^GSPC_chg           1295 non-null   float64
 27  ^IXIC_chg           1295 non-null   float64
 28  ^SOX_chg            1295 non-null   float64
 29  Action              29 non-null     float64
 30  Trans Total         150 non-null    float64
 31  surprise            20 non-null     object
 32  surprisePercentage  20 non-null     object
 33  total_short         376 non-null    float64
 34  perc_short          376 non-null    float64
 35  PE Ratio            13 non-null     float64
dtypes: datetime64[ns](1), float64(33), object(2)
memory usage: 364.6+ KB
None
        Date     000660.KS     005930.KS        AMD       AMZN        ASML  \
0 2019-05-10  70162.523438  37687.656250  27.959999  94.499001  189.950531
1 2019-05-13  69313.796875  37468.031250  26.240000  91.134003  182.017609
2 2019-05-14  70351.148438  37468.031250  27.320000  92.005997  189.281448
3 2019-05-15  70256.835938  37380.187500  27.580000  93.557503  191.756927
4 2019-05-16  67804.921875  36501.683594  28.010000  95.378502  193.200150

        GOOG       INTC        MSFT         MU  ...  ^GSPC_chg  ^IXIC_chg  \
0  58.213501  40.513161  121.014084  38.244068  ...        NaN        NaN
1  56.601501  39.250404  117.415924  36.711952  ...  -2.413056  -3.409397
2  56.021999  39.609940  118.729538  37.821766  ...   0.801594   1.143847
3  58.210499  40.004547  120.401520  37.723545  ...   0.583898   1.133361
4  58.949001  39.925625  123.181755  36.643200  ...   0.889529   0.970320

   ^SOX_chg  Action  Trans Total  surprise  surprisePercentage  total_short  \
0       NaN     NaN          NaN       NaN                 NaN          NaN
1 -4.727937     NaN          NaN       NaN                 NaN          NaN
2  2.404628     NaN          NaN       NaN                 NaN          NaN
3  0.808830     NaN          NaN       NaN                 NaN          NaN
4 -1.676866     NaN          NaN      0.02                  10          NaN

   perc_short  PE Ratio
0         NaN       NaN
1         NaN       NaN
2         NaN       NaN
3         NaN       NaN
4         NaN       NaN

[5 rows x 36 columns]

### VOLUME (YAHOO FINANCE)

In [36]:
# Create new DataFrame with only volume
vol_df = df['Volume']

# Reset index of vol_df
vol_df.reset_index(inplace=True)

# Print to check 
print(vol_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1296 non-null   datetime64[ns]
 1   000660.KS  1230 non-null   float64
 2   005930.KS  1230 non-null   float64
 3   AMD        1257 non-null   float64
 4   AMZN       1257 non-null   float64
 5   ASML       1257 non-null   float64
 6   GOOG       1257 non-null   float64
 7   INTC       1257 non-null   float64
 8   MSFT       1257 non-null   float64
 9   MU         1257 non-null   float64
 10  NVDA       1257 non-null   float64
 11  TSM        1257 non-null   float64
 12  ^GSPC      1257 non-null   float64
 13  ^IXIC      1257 non-null   float64
 14  ^SOX       1257 non-null   float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 152.0 KB
None

In [37]:
# Create new DataFrame with only NVDA volume
nvol_df = vol_df[['Date','NVDA']]

# Rename NVDA column
nvol_df.rename(columns={'NVDA':'Volume'}, inplace=True)

# Print to check
print(nvol_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1296 non-null   datetime64[ns]
 1   Volume  1257 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 20.4 KB
None

/var/folders/hc/nhpbzgz12fg7s2yt32gdtl4r0000gn/T/ipykernel_74478/2491697509.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nvol_df.rename(columns={'NVDA':'Volume'}, inplace=True)

In [38]:
# Merge Volume column into new_df
new_df = pd.merge(new_df, nvol_df, on='Date', how='left')

# Print to check
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1296 non-null   datetime64[ns]
 1   000660.KS           1296 non-null   float64
 2   005930.KS           1296 non-null   float64
 3   AMD                 1296 non-null   float64
 4   AMZN                1296 non-null   float64
 5   ASML                1296 non-null   float64
 6   GOOG                1296 non-null   float64
 7   INTC                1296 non-null   float64
 8   MSFT                1296 non-null   float64
 9   MU                  1296 non-null   float64
 10  NVDA                1296 non-null   float64
 11  TSM                 1296 non-null   float64
 12  ^GSPC               1296 non-null   float64
 13  ^IXIC               1296 non-null   float64
 14  ^SOX                1296 non-null   float64
 15  000660.KS_chg       1295 non-null   float64
 16  005930.KS_chg       1295 non-null   float64
 17  AMD_chg             1295 non-null   float64
 18  AMZN_chg            1295 non-null   float64
 19  ASML_chg            1295 non-null   float64
 20  GOOG_chg            1295 non-null   float64
 21  INTC_chg            1295 non-null   float64
 22  MSFT_chg            1295 non-null   float64
 23  MU_chg              1295 non-null   float64
 24  NVDA_chg            1295 non-null   float64
 25  TSM_chg             1295 non-null   float64
 26  ^GSPC_chg           1295 non-null   float64
 27  ^IXIC_chg           1295 non-null   float64
 28  ^SOX_chg            1295 non-null   float64
 29  Action              29 non-null     float64
 30  Trans Total         150 non-null    float64
 31  surprise            20 non-null     object
 32  surprisePercentage  20 non-null     object
 33  total_short         376 non-null    float64
 34  perc_short          376 non-null    float64
 35  PE Ratio            13 non-null     float64
 36  Volume              1257 non-null   float64
dtypes: datetime64[ns](1), float64(34), object(2)
memory usage: 374.8+ KB
None

### FED FUNDS RATE (ALPHA VANTAGE)

In [39]:
# Set url to retrieve data
url_ffr = 'https://www.alphavantage.co/query?function=FEDERAL_FUNDS_RATE&interval=daily&apikey=JI8F8CG68TLZIDYU'

# Retrieve data
r = requests.get(url_ffr)
ffr_data = r.json()

In [40]:
# Check keys
print(ffr_data.keys())

dict_keys(['name', 'interval', 'unit', 'data'])

In [41]:
# Convert json into a DataFrame
ffr_df = pd.DataFrame(ffr_data['data'])

# Print to check
print(ffr_df)
print(ffr_df.info())

             date  value
0      2024-05-09   5.33
1      2024-05-08   5.33
2      2024-05-07   5.33
3      2024-05-06   5.33
4      2024-05-05   5.33
...           ...    ...
25511  1954-07-05   0.88
25512  1954-07-04  1.250
25513  1954-07-03  1.250
25514  1954-07-02  1.250
25515  1954-07-01   1.13

[25516 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25516 entries, 0 to 25515
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    25516 non-null  object
 1   value   25516 non-null  object
dtypes: object(2)
memory usage: 398.8+ KB
None

In [42]:
# Convert Date to datetime format
ffr_df['date'] = pd.to_datetime(ffr_df['date'])

# Rename columns
ffr_df.rename(columns={'date':'Date','value':'Interest Rate'},inplace=True)

# Print to check
print(ffr_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25516 entries, 0 to 25515
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           25516 non-null  datetime64[ns]
 1   Interest Rate  25516 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 398.8+ KB
None

In [43]:
# Create mask to identify rows with dates earlier than cutoff_date
mask = ffr_df['Date'] < start_date

# Use mask to filter out rows
ffr_df = ffr_df[~mask]

# Print to check
print(ffr_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1827 entries, 0 to 1826
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1827 non-null   datetime64[ns]
 1   Interest Rate  1827 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 42.8+ KB
None

In [44]:
# Merge Interest Rate column into new_df
new_df = pd.merge(new_df, ffr_df, on='Date', how='left')

# Print to check
print(new_df.info())
print(new_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1296 non-null   datetime64[ns]
 1   000660.KS           1296 non-null   float64
 2   005930.KS           1296 non-null   float64
 3   AMD                 1296 non-null   float64
 4   AMZN                1296 non-null   float64
 5   ASML                1296 non-null   float64
 6   GOOG                1296 non-null   float64
 7   INTC                1296 non-null   float64
 8   MSFT                1296 non-null   float64
 9   MU                  1296 non-null   float64
 10  NVDA                1296 non-null   float64
 11  TSM                 1296 non-null   float64
 12  ^GSPC               1296 non-null   float64
 13  ^IXIC               1296 non-null   float64
 14  ^SOX                1296 non-null   float64
 15  000660.KS_chg       1295 non-null   float64
 16  005930.KS_chg       1295 non-null   float64
 17  AMD_chg             1295 non-null   float64
 18  AMZN_chg            1295 non-null   float64
 19  ASML_chg            1295 non-null   float64
 20  GOOG_chg            1295 non-null   float64
 21  INTC_chg            1295 non-null   float64
 22  MSFT_chg            1295 non-null   float64
 23  MU_chg              1295 non-null   float64
 24  NVDA_chg            1295 non-null   float64
 25  TSM_chg             1295 non-null   float64
 26  ^GSPC_chg           1295 non-null   float64
 27  ^IXIC_chg           1295 non-null   float64
 28  ^SOX_chg            1295 non-null   float64
 29  Action              29 non-null     float64
 30  Trans Total         150 non-null    float64
 31  surprise            20 non-null     object
 32  surprisePercentage  20 non-null     object
 33  total_short         376 non-null    float64
 34  perc_short          376 non-null    float64
 35  PE Ratio            13 non-null     float64
 36  Volume              1257 non-null   float64
 37  Interest Rate       1296 non-null   object
dtypes: datetime64[ns](1), float64(34), object(3)
memory usage: 384.9+ KB
None
        Date     000660.KS     005930.KS        AMD       AMZN        ASML  \
0 2019-05-10  70162.523438  37687.656250  27.959999  94.499001  189.950531
1 2019-05-13  69313.796875  37468.031250  26.240000  91.134003  182.017609
2 2019-05-14  70351.148438  37468.031250  27.320000  92.005997  189.281448
3 2019-05-15  70256.835938  37380.187500  27.580000  93.557503  191.756927
4 2019-05-16  67804.921875  36501.683594  28.010000  95.378502  193.200150

        GOOG       INTC        MSFT         MU  ...  ^SOX_chg  Action  \
0  58.213501  40.513161  121.014084  38.244068  ...       NaN     NaN
1  56.601501  39.250404  117.415924  36.711952  ... -4.727937     NaN
2  56.021999  39.609940  118.729538  37.821766  ...  2.404628     NaN
3  58.210499  40.004547  120.401520  37.723545  ...  0.808830     NaN
4  58.949001  39.925625  123.181755  36.643200  ... -1.676866     NaN

   Trans Total  surprise  surprisePercentage  total_short  perc_short  \
0          NaN       NaN                 NaN          NaN         NaN
1          NaN       NaN                 NaN          NaN         NaN
2          NaN       NaN                 NaN          NaN         NaN
3          NaN       NaN                 NaN          NaN         NaN
4          NaN      0.02                  10          NaN         NaN

   PE Ratio      Volume  Interest Rate
0       NaN  56950000.0           2.38
1       NaN  65691200.0           2.38
2       NaN  52488000.0           2.38
3       NaN  50232000.0           2.40
4       NaN  78108800.0           2.39

[5 rows x 38 columns]

### SIMPLE MOVING AVERAGE (ALPHA VANTAGE)

In [45]:
# Set url to retrieve data
url_sma50 = f'https://www.alphavantage.co/query?function=SMA&symbol=NVDA&interval=daily&time_period=50&series_type=open&apikey=JI8F8CG68TLZIDYU'

#Retrieve data
r = requests.get(url_sma50)
sma50_data = r.json()

In [46]:
# Check keys
print(sma50_data.keys())

dict_keys(['Meta Data', 'Technical Analysis: SMA'])

In [47]:
# Convert json into a DataFrame
sma50_df = pd.DataFrame(sma50_data['Technical Analysis: SMA'])

# Print to check
print(sma50_df)
print(sma50_df.info())

    2024-05-13 2024-05-10 2024-05-09 2024-05-08 2024-05-07 2024-05-06  \
SMA   880.1211   878.0248   875.7819   873.1994   871.1784   868.8980

    2024-05-03 2024-05-02 2024-05-01 2024-04-30  ... 2000-01-25 2000-01-24  \
SMA   867.1773   864.6238   861.3345   858.7079  ...     0.7754     0.7699

    2000-01-21 2000-01-20 2000-01-19 2000-01-18 2000-01-14 2000-01-13  \
SMA     0.7632     0.7570     0.7500     0.7439     0.7375     0.7311

    2000-01-12 2000-01-11
SMA     0.7248     0.7173

[1 rows x 6123 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, SMA to SMA
Columns: 6123 entries, 2024-05-13 to 2000-01-11
dtypes: object(6123)
memory usage: 47.8+ KB
None

In [48]:
# Melt sma50_df
sma50_df = pd.melt(sma50_df)

# Print to check
print(sma50_df)
print(sma50_df.info())

        variable     value
0     2024-05-13  880.1211
1     2024-05-10  878.0248
2     2024-05-09  875.7819
3     2024-05-08  873.1994
4     2024-05-07  871.1784
...          ...       ...
6118  2000-01-18    0.7439
6119  2000-01-14    0.7375
6120  2000-01-13    0.7311
6121  2000-01-12    0.7248
6122  2000-01-11    0.7173

[6123 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6123 entries, 0 to 6122
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variable  6123 non-null   object
 1   value     6123 non-null   object
dtypes: object(2)
memory usage: 95.8+ KB
None

In [49]:
# Rename columns
sma50_df.rename(columns={'variable':'Date','value':'50D SMA'},inplace=True)

# Convert Date to datetime format
sma50_df['Date'] = pd.to_datetime(sma50_df['Date'])

# Print to check
print(sma50_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6123 entries, 0 to 6122
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     6123 non-null   datetime64[ns]
 1   50D SMA  6123 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 95.8+ KB
None

In [50]:
# Set url to retrieve data
url_sma200 = f'https://www.alphavantage.co/query?function=SMA&symbol=NVDA&interval=daily&time_period=200&series_type=open&apikey=JI8F8CG68TLZIDYU'

# Retrieve data
r = requests.get(url_sma200)
sma200_data = r.json()

In [51]:
# Convert json into a DataFrame
sma200_df = pd.DataFrame(sma200_data['Technical Analysis: SMA'])

# Print to check
print(sma200_df)
print(sma200_df.info())

    2024-05-13 2024-05-10 2024-05-09 2024-05-08 2024-05-07 2024-05-06  \
SMA   602.2055   600.0071   597.7924   595.5125   593.2744   591.0084

    2024-05-03 2024-05-02 2024-05-01 2024-04-30  ... 2000-08-28 2000-08-25  \
SMA   588.8638   586.8470   584.9591   583.0192  ...     1.6549     1.6432

    2000-08-24 2000-08-23 2000-08-22 2000-08-21 2000-08-18 2000-08-17  \
SMA     1.6314     1.6200     1.6093     1.5980     1.5854     1.5737

    2000-08-16 2000-08-15
SMA     1.5622     1.5500

[1 rows x 5973 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, SMA to SMA
Columns: 5973 entries, 2024-05-13 to 2000-08-15
dtypes: object(5973)
memory usage: 46.7+ KB
None

In [52]:
# Melt sma200_df
sma200_df = pd.melt(sma200_df)

# Print to check
print(sma200_df)
print(sma200_df.info())

        variable     value
0     2024-05-13  602.2055
1     2024-05-10  600.0071
2     2024-05-09  597.7924
3     2024-05-08  595.5125
4     2024-05-07  593.2744
...          ...       ...
5968  2000-08-21    1.5980
5969  2000-08-18    1.5854
5970  2000-08-17    1.5737
5971  2000-08-16    1.5622
5972  2000-08-15    1.5500

[5973 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5973 entries, 0 to 5972
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variable  5973 non-null   object
 1   value     5973 non-null   object
dtypes: object(2)
memory usage: 93.5+ KB
None

In [53]:
# Rename columns
sma200_df.rename(columns={'variable':'Date','value':'200D SMA'},inplace=True)

# Convert Date to datetime format
sma200_df['Date'] = pd.to_datetime(sma200_df['Date'])

# Print to check
print(sma200_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5973 entries, 0 to 5972
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5973 non-null   datetime64[ns]
 1   200D SMA  5973 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 93.5+ KB
None

In [54]:
# Merge 50d SMA and 200d SMA columns into new_df
new_df = pd.merge(new_df, sma50_df, on='Date', how='left')
new_df = pd.merge(new_df, sma200_df, on='Date', how='left')

# Print to check
print(new_df.info())
print(new_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 40 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1296 non-null   datetime64[ns]
 1   000660.KS           1296 non-null   float64
 2   005930.KS           1296 non-null   float64
 3   AMD                 1296 non-null   float64
 4   AMZN                1296 non-null   float64
 5   ASML                1296 non-null   float64
 6   GOOG                1296 non-null   float64
 7   INTC                1296 non-null   float64
 8   MSFT                1296 non-null   float64
 9   MU                  1296 non-null   float64
 10  NVDA                1296 non-null   float64
 11  TSM                 1296 non-null   float64
 12  ^GSPC               1296 non-null   float64
 13  ^IXIC               1296 non-null   float64
 14  ^SOX                1296 non-null   float64
 15  000660.KS_chg       1295 non-null   float64
 16  005930.KS_chg       1295 non-null   float64
 17  AMD_chg             1295 non-null   float64
 18  AMZN_chg            1295 non-null   float64
 19  ASML_chg            1295 non-null   float64
 20  GOOG_chg            1295 non-null   float64
 21  INTC_chg            1295 non-null   float64
 22  MSFT_chg            1295 non-null   float64
 23  MU_chg              1295 non-null   float64
 24  NVDA_chg            1295 non-null   float64
 25  TSM_chg             1295 non-null   float64
 26  ^GSPC_chg           1295 non-null   float64
 27  ^IXIC_chg           1295 non-null   float64
 28  ^SOX_chg            1295 non-null   float64
 29  Action              29 non-null     float64
 30  Trans Total         150 non-null    float64
 31  surprise            20 non-null     object
 32  surprisePercentage  20 non-null     object
 33  total_short         376 non-null    float64
 34  perc_short          376 non-null    float64
 35  PE Ratio            13 non-null     float64
 36  Volume              1257 non-null   float64
 37  Interest Rate       1296 non-null   object
 38  50D SMA             1257 non-null   object
 39  200D SMA            1257 non-null   object
dtypes: datetime64[ns](1), float64(34), object(5)
memory usage: 405.1+ KB
None
        Date     000660.KS     005930.KS        AMD       AMZN        ASML  \
0 2019-05-10  70162.523438  37687.656250  27.959999  94.499001  189.950531
1 2019-05-13  69313.796875  37468.031250  26.240000  91.134003  182.017609
2 2019-05-14  70351.148438  37468.031250  27.320000  92.005997  189.281448
3 2019-05-15  70256.835938  37380.187500  27.580000  93.557503  191.756927
4 2019-05-16  67804.921875  36501.683594  28.010000  95.378502  193.200150

        GOOG       INTC        MSFT         MU  ...  Trans Total  surprise  \
0  58.213501  40.513161  121.014084  38.244068  ...          NaN       NaN
1  56.601501  39.250404  117.415924  36.711952  ...          NaN       NaN
2  56.021999  39.609940  118.729538  37.821766  ...          NaN       NaN
3  58.210499  40.004547  120.401520  37.723545  ...          NaN       NaN
4  58.949001  39.925625  123.181755  36.643200  ...          NaN      0.02

   surprisePercentage  total_short  perc_short  PE Ratio      Volume  \
0                 NaN          NaN         NaN       NaN  56950000.0
1                 NaN          NaN         NaN       NaN  65691200.0
2                 NaN          NaN         NaN       NaN  52488000.0
3                 NaN          NaN         NaN       NaN  50232000.0
4                  10          NaN         NaN       NaN  78108800.0

   Interest Rate  50D SMA  200D SMA
0           2.38  43.9478   48.7636
1           2.38  43.9837   48.6581
2           2.38  43.9939   48.5460
3           2.40  44.0120   48.4270
4           2.39  44.0279   48.3120

[5 rows x 40 columns]

In [55]:
# Rename columns
column_names = {'Action': 'Analyst Action',
                'Trans Total': 'Insider Sales',
                'surprise': 'Surprise',
                'surprisePercentage': 'Surprise Perc',
                'total_short':'Short',
                'perc_short': 'Short Perc'}
new_df.rename(columns=column_names, inplace=True)

# Print to check
print(new_df.info())
print(new_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 40 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1296 non-null   datetime64[ns]
 1   000660.KS       1296 non-null   float64
 2   005930.KS       1296 non-null   float64
 3   AMD             1296 non-null   float64
 4   AMZN            1296 non-null   float64
 5   ASML            1296 non-null   float64
 6   GOOG            1296 non-null   float64
 7   INTC            1296 non-null   float64
 8   MSFT            1296 non-null   float64
 9   MU              1296 non-null   float64
 10  NVDA            1296 non-null   float64
 11  TSM             1296 non-null   float64
 12  ^GSPC           1296 non-null   float64
 13  ^IXIC           1296 non-null   float64
 14  ^SOX            1296 non-null   float64
 15  000660.KS_chg   1295 non-null   float64
 16  005930.KS_chg   1295 non-null   float64
 17  AMD_chg         1295 non-null   float64
 18  AMZN_chg        1295 non-null   float64
 19  ASML_chg        1295 non-null   float64
 20  GOOG_chg        1295 non-null   float64
 21  INTC_chg        1295 non-null   float64
 22  MSFT_chg        1295 non-null   float64
 23  MU_chg          1295 non-null   float64
 24  NVDA_chg        1295 non-null   float64
 25  TSM_chg         1295 non-null   float64
 26  ^GSPC_chg       1295 non-null   float64
 27  ^IXIC_chg       1295 non-null   float64
 28  ^SOX_chg        1295 non-null   float64
 29  Analyst Action  29 non-null     float64
 30  Insider Sales   150 non-null    float64
 31  Surprise        20 non-null     object
 32  Surprise Perc   20 non-null     object
 33  Short           376 non-null    float64
 34  Short Perc      376 non-null    float64
 35  PE Ratio        13 non-null     float64
 36  Volume          1257 non-null   float64
 37  Interest Rate   1296 non-null   object
 38  50D SMA         1257 non-null   object
 39  200D SMA        1257 non-null   object
dtypes: datetime64[ns](1), float64(34), object(5)
memory usage: 405.1+ KB
None
                                Date      000660.KS     005930.KS  \
count                           1296    1296.000000   1296.000000
mean   2021-11-07 02:08:53.333333248  102386.678388  61856.686906
min              2019-05-10 00:00:00   59506.125000  36194.207031
25%              2020-08-09 06:00:00   80775.109375  52930.635742
50%              2021-11-08 12:00:00   96357.492188  63948.982422
75%              2023-02-03 18:00:00  118912.234375  72269.421875
max              2024-05-07 00:00:00  188400.000000  85433.320312
std                              NaN   25169.645070  12212.170233

               AMD         AMZN         ASML         GOOG         INTC  \
count  1296.000000  1296.000000  1296.000000  1296.000000  1296.000000
mean     88.387515   133.563939   537.252602   105.171752    42.944712
min      26.240000    81.820000   178.710602    51.811501    23.974880
25%      58.929999   101.145002   355.048157    75.586874    35.382508
50%      86.054996   135.852745   574.086029   106.237499    44.328825
75%     108.599997   161.250126   675.171402   133.261372    50.047869
max     211.380005   189.050003  1045.216309   173.690002    62.477161
std      37.367573    31.028342   205.146250    30.474014     9.083028

              MSFT           MU  ...      TSM_chg    ^GSPC_chg    ^IXIC_chg  \
count  1296.000000  1296.000000  ...  1295.000000  1295.000000  1295.000000
mean    252.425658    64.841995  ...     0.127955     0.054196     0.068224
min     114.497032    31.850414  ...   -14.034073   -11.984055   -12.321331
25%     199.835522    50.292325  ...    -1.165280    -0.482405    -0.641470
50%     249.961426    63.343040  ...     0.000000     0.053307     0.088117
75%     304.565361    76.989893  ...     1.259817     0.709994     0.904741
max     429.369995   128.009995  ...    12.652244     9.382774     9.345998
std      77.560554    17.546605  ...     2.268545     1.321957     1.564421

          ^SOX_chg  Analyst Action  Insider Sales         Short  Short Perc  \
count  1295.000000       29.000000   1.500000e+02  3.760000e+02  376.000000
mean      0.116327        0.413793   1.744381e+07  1.553663e+07    0.483336
min     -15.896286       -1.000000   2.504500e+04  5.638565e+06    0.286587
25%      -1.126243       -1.000000   1.676132e+06  1.159702e+07    0.448632
50%       0.034181        1.000000   6.627940e+06  1.425931e+07    0.476862
75%       1.435605        1.000000   2.276916e+07  1.801031e+07    0.505416
max      11.154737        3.000000   1.742460e+08  4.668580e+07    0.701463
std       2.261090        1.180715   2.765444e+07  5.565753e+06    0.058325

         PE Ratio        Volume
count   13.000000  1.257000e+03
mean    67.039231  4.567608e+07
min     37.870000  9.788400e+06
25%     52.100000  3.238480e+07
50%     57.390000  4.289440e+07
75%     75.840000  5.563840e+07
max    112.850000  1.543911e+08
std     23.013431  1.852833e+07

[8 rows x 35 columns]

In [56]:
# Export new_df to csv
new_df.to_csv('compiled.csv')