In [1]:
pip install yfinance --upgrade --no-cache-dir

Requirement already satisfied: yfinance in /opt/anaconda3/lib/python3.11/site-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /opt/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install alpha-vantage

Requirement already satisfied: alpha-vantage in /opt/anaconda3/lib/python3.11/site-packages (2.3.1)
Requirement already satisfied: aiohttp in /opt/anaconda3/lib/python3.11/site-packages (from alpha-vantage) (3.9.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.11/site-packages (from alpha-vantage) (2.31.0)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/lib/python3.11/site-packages (from aiohttp->alpha-vantage) (1.9.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests->alpha-vantage) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests->alpha-vantage) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests->alpha-vantage) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests->alpha-vantage) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Import relevant libraries
import numpy as np
import pandas as pd
import yfinance as yf
import requests
from datetime import datetime, timedelta
from scipy.stats.mstats import winsorize

In [4]:
# Set tickers
ticker_target = 'NVDA'
ticker_comp = 'AMD 005930.KS' # AMD, Samsung
ticker_supp = 'TSM ASML 000660.KS MU' # TSMC, ASML, SK Hynix
ticker_other = 'AMZN MSFT GOOG' # Amazon, Microsoft, Google
ticker_mkt = '^IXIC ^GSPC ^SOX'# Indices - Nasdaq composite, S&P500, PHLX Semiconductor
ticker_all  = " ".join([ticker_target, ticker_comp, ticker_supp, ticker_other, ticker_mkt])

# Print to check 
print(ticker_all)

NVDA AMD 005930.KS TSM ASML 000660.KS MU AMZN MSFT GOOG ^IXIC ^GSPC ^SOX

In [5]:
# Set end date
today = datetime.today().date()
end_date = today.strftime('%Y-%m-%d')

# Set start date
start = datetime(2024, 5, 6).date()
start_date = start.strftime('%Y-%m-%d')

# Print to check
print(end_date)
print(start_date)

2024-05-16
2024-05-06

In [6]:
# Load stock data into a DataFrame
df = yf.download(ticker_all, start=start_date, end=end_date)

# Print to check
print(df)
print(df.info())

[*********************100%%**********************]  13 of 13 completed

Price      Adj Close                                                \
Ticker     000660.KS 005930.KS         AMD        AMZN        ASML
Date
2024-05-06       NaN       NaN  155.779999  188.699997  916.919983
2024-05-07  179600.0   81300.0  154.429993  188.759995  908.219971
2024-05-08  178000.0   81300.0  153.619995  188.000000  911.469971
2024-05-09  175400.0   79700.0  152.389999  189.500000  913.539978
2024-05-10  179900.0   79200.0  151.919998  187.479996  930.289978
2024-05-13  183800.0   78400.0  150.559998  186.570007  917.239990
2024-05-14  185300.0   78300.0  153.160004  187.070007  915.030029
2024-05-15       NaN       NaN  159.669998  185.990005  937.419983

Price                                                                   ...  \
Ticker            GOOG        MSFT          MU        NVDA         TSM  ...
Date                                                                    ...
2024-05-06  169.830002  413.540009  120.129997  921.400024  142.830002  ...
2024-05-07  172.979996  409.339996  119.209999  905.539978  141.110001  ...
2024-05-08  171.160004  410.540009  119.320000  904.119995  143.600006  ...
2024-05-09  171.580002  412.320007  117.809998  887.469971  142.789993  ...
2024-05-10  170.289993  414.739990  121.239998  898.780029  149.259995  ...
2024-05-13  170.899994  413.720001  123.000000  903.989990  146.410004  ...
2024-05-14  171.929993  416.559998  124.809998  913.559998  151.949997  ...
2024-05-15  173.880005  423.079987  127.809998  946.299988  155.580002  ...

Price         Volume                                                  \
Ticker          AMZN    ASML      GOOG      MSFT        MU      NVDA
Date
2024-05-06  34725300  642000  15147900  16996600  22538700  37620300
2024-05-07  34048900  655000  21102400  20018200  12508300  43734200
2024-05-08  26136400  555700  14569900  11792300  10867900  32572100
2024-05-09  43368400  756000  11937700  14689700  11524800  37801300
2024-05-10  34141800  814100  18740500  13402300  13922400  33532500
2024-05-13  24898600  745700  19648600  15440200  16643200  28968000
2024-05-14  38698200  592000  18729500  15109300  13887700  29650700
2024-05-15  74629966  881908  20882161  21018945  13794915  41394492

Price
Ticker           TSM       ^GSPC       ^IXIC ^SOX
Date
2024-05-06   8601600  3683250000  4460130000    0
2024-05-07   8682900  3987890000  5041870000    0
2024-05-08  10202300  3842100000  4530190000    0
2024-05-09   8012700  3727370000  4505120000    0
2024-05-10  23671400  3617900000  4402110000    0
2024-05-13   8278700  4255710000  4452750000    0
2024-05-14  12316500  4763580000  7270240000    0
2024-05-15  14000554  2309693000  8181719000    0

[8 rows x 78 columns]
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2024-05-06 to 2024-05-15
Freq: B
Data columns (total 78 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Adj Close, 000660.KS)  6 non-null      float64
 1   (Adj Close, 005930.KS)  6 non-null      float64
 2   (Adj Close, AMD)        8 non-null      float64
 3   (Adj Close, AMZN)       8 non-null      float64
 4   (Adj Close, ASML)       8 non-null      float64
 5   (Adj Close, GOOG)       8 non-null      float64
 6   (Adj Close, MSFT)       8 non-null      float64
 7   (Adj Close, MU)         8 non-null      float64
 8   (Adj Close, NVDA)       8 non-null      float64
 9   (Adj Close, TSM)        8 non-null      float64
 10  (Adj Close, ^GSPC)      8 non-null      float64
 11  (Adj Close, ^IXIC)      8 non-null      float64
 12  (Adj Close, ^SOX)       8 non-null      float64
 13  (Close, 000660.KS)      6 non-null      float64
 14  (Close, 005930.KS)      6 non-null      float64
 15  (Close, AMD)            8 non-null      float64
 16  (Close, AMZN)           8 non-null      float64
 17  (Close, ASML)           8 non-null      float64
 18  (Close, GOOG)           8 non-null      float64
 19  (Close, MSFT)           8 non-null      float64
 20  (Close, MU)             8 non-null      float64
 21  (Close, NVDA)           8 non-null      float64
 22  (Close, TSM)            8 non-null      float64
 23  (Close, ^GSPC)          8 non-null      float64
 24  (Close, ^IXIC)          8 non-null      float64
 25  (Close, ^SOX)           8 non-null      float64
 26  (High, 000660.KS)       6 non-null      float64
 27  (High, 005930.KS)       6 non-null      float64
 28  (High, AMD)             8 non-null      float64
 29  (High, AMZN)            8 non-null      float64
 30  (High, ASML)            8 non-null      float64
 31  (High, GOOG)            8 non-null      float64
 32  (High, MSFT)            8 non-null      float64
 33  (High, MU)              8 non-null      float64
 34  (High, NVDA)            8 non-null      float64
 35  (High, TSM)             8 non-null      float64
 36  (High, ^GSPC)           8 non-null      float64
 37  (High, ^IXIC)           8 non-null      float64
 38  (High, ^SOX)            8 non-null      float64
 39  (Low, 000660.KS)        6 non-null      float64
 40  (Low, 005930.KS)        6 non-null      float64
 41  (Low, AMD)              8 non-null      float64
 42  (Low, AMZN)             8 non-null      float64
 43  (Low, ASML)             8 non-null      float64
 44  (Low, GOOG)             8 non-null      float64
 45  (Low, MSFT)             8 non-null      float64
 46  (Low, MU)               8 non-null      float64
 47  (Low, NVDA)             8 non-null      float64
 48  (Low, TSM)              8 non-null      float64
 49  (Low, ^GSPC)            8 non-null      float64
 50  (Low, ^IXIC)            8 non-null      float64
 51  (Low, ^SOX)             8 non-null      float64
 52  (Open, 000660.KS)       6 non-null      float64
 53  (Open, 005930.KS)       6 non-null      float64
 54  (Open, AMD)             8 non-null      float64
 55  (Open, AMZN)            8 non-null      float64
 56  (Open, ASML)            8 non-null      float64
 57  (Open, GOOG)            8 non-null      float64
 58  (Open, MSFT)            8 non-null      float64
 59  (Open, MU)              8 non-null      float64
 60  (Open, NVDA)            8 non-null      float64
 61  (Open, TSM)             8 non-null      float64
 62  (Open, ^GSPC)           8 non-null      float64
 63  (Open, ^IXIC)           8 non-null      float64
 64  (Open, ^SOX)            8 non-null      float64
 65  (Volume, 000660.KS)     6 non-null      float64
 66  (Volume, 005930.KS)     6 non-null      float64
 67  (Volume, AMD)           8 non-null      int64
 68  (Volume, AMZN)          8 non-null      int64
 69  (Volume, ASML)          8 non-null      int64
 70  (Volume, GOOG)          8 non-null      int64
 71  (Volume, MSFT)          8 non-null      int64
 72  (Volume, MU)            8 non-null      int64
 73  (Volume, NVDA)          8 non-null      int64
 74  (Volume, TSM)           8 non-null      int64
 75  (Volume, ^GSPC)         8 non-null      int64
 76  (Volume, ^IXIC)         8 non-null      int64
 77  (Volume, ^SOX)          8 non-null      int64
dtypes: float64(67), int64(11)
memory usage: 4.9 KB
None

In [7]:
# Create new DataFrame with only close prices
new_df = df['Adj Close']

# Print to check
print(new_df)
print(new_df.info())

Ticker      000660.KS  005930.KS         AMD        AMZN        ASML  \
Date
2024-05-06        NaN        NaN  155.779999  188.699997  916.919983
2024-05-07   179600.0    81300.0  154.429993  188.759995  908.219971
2024-05-08   178000.0    81300.0  153.619995  188.000000  911.469971
2024-05-09   175400.0    79700.0  152.389999  189.500000  913.539978
2024-05-10   179900.0    79200.0  151.919998  187.479996  930.289978
2024-05-13   183800.0    78400.0  150.559998  186.570007  917.239990
2024-05-14   185300.0    78300.0  153.160004  187.070007  915.030029
2024-05-15        NaN        NaN  159.669998  185.990005  937.419983

Ticker            GOOG        MSFT          MU        NVDA         TSM  \
Date
2024-05-06  169.830002  413.540009  120.129997  921.400024  142.830002
2024-05-07  172.979996  409.339996  119.209999  905.539978  141.110001
2024-05-08  171.160004  410.540009  119.320000  904.119995  143.600006
2024-05-09  171.580002  412.320007  117.809998  887.469971  142.789993
2024-05-10  170.289993  414.739990  121.239998  898.780029  149.259995
2024-05-13  170.899994  413.720001  123.000000  903.989990  146.410004
2024-05-14  171.929993  416.559998  124.809998  913.559998  151.949997
2024-05-15  173.880005  423.079987  127.809998  946.299988  155.580002

Ticker            ^GSPC         ^IXIC         ^SOX
Date
2024-05-06  5180.740234  16349.250000  4820.450195
2024-05-07  5187.700195  16332.559570  4784.879883
2024-05-08  5187.669922  16302.759766  4790.379883
2024-05-09  5214.080078  16346.259766  4759.770020
2024-05-10  5222.680176  16340.870117  4808.029785
2024-05-13  5221.419922  16388.240234  4823.089844
2024-05-14  5246.680176  16511.179688  4903.930176
2024-05-15  5308.149902  16742.390625  5045.083496
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2024-05-06 to 2024-05-15
Freq: B
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   000660.KS  6 non-null      float64
 1   005930.KS  6 non-null      float64
 2   AMD        8 non-null      float64
 3   AMZN       8 non-null      float64
 4   ASML       8 non-null      float64
 5   GOOG       8 non-null      float64
 6   MSFT       8 non-null      float64
 7   MU         8 non-null      float64
 8   NVDA       8 non-null      float64
 9   TSM        8 non-null      float64
 10  ^GSPC      8 non-null      float64
 11  ^IXIC      8 non-null      float64
 12  ^SOX       8 non-null      float64
dtypes: float64(13)
memory usage: 896.0 bytes
None

In [8]:
# Set url to retrieve data
url_ffr = 'https://www.alphavantage.co/query?function=FEDERAL_FUNDS_RATE&interval=daily&apikey=WTH3FILIUYV3ONU8'

# Retrieve data
r = requests.get(url_ffr)
ffr_data = r.json()

In [9]:
# Check keys
print(ffr_data.keys())

dict_keys(['name', 'interval', 'unit', 'data'])

In [10]:
# Convert json into a DataFrame
ffr_df = pd.DataFrame(ffr_data['data'])

# Print to check
print(ffr_df)
print(ffr_df.info())

             date  value
0      2024-05-14   5.33
1      2024-05-13   5.33
2      2024-05-12   5.33
3      2024-05-11   5.33
4      2024-05-10   5.33
...           ...    ...
25516  1954-07-05   0.88
25517  1954-07-04  1.250
25518  1954-07-03  1.250
25519  1954-07-02  1.250
25520  1954-07-01   1.13

[25521 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25521 entries, 0 to 25520
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    25521 non-null  object
 1   value   25521 non-null  object
dtypes: object(2)
memory usage: 398.9+ KB
None

In [11]:
# Convert Date to datetime format
ffr_df['date'] = pd.to_datetime(ffr_df['date'])

# Rename columns
ffr_df.rename(columns={'date':'Date','value':'Interest Rate'},inplace=True)

# Print to check
print(ffr_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25521 entries, 0 to 25520
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           25521 non-null  datetime64[ns]
 1   Interest Rate  25521 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 398.9+ KB
None

In [12]:
# Merge Interest Rate column into new_df
new_df = pd.merge(new_df, ffr_df, on='Date', how='left')

# Print to check
print(new_df.info())
print(new_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8 non-null      datetime64[ns]
 1   000660.KS      6 non-null      float64
 2   005930.KS      6 non-null      float64
 3   AMD            8 non-null      float64
 4   AMZN           8 non-null      float64
 5   ASML           8 non-null      float64
 6   GOOG           8 non-null      float64
 7   MSFT           8 non-null      float64
 8   MU             8 non-null      float64
 9   NVDA           8 non-null      float64
 10  TSM            8 non-null      float64
 11  ^GSPC          8 non-null      float64
 12  ^IXIC          8 non-null      float64
 13  ^SOX           8 non-null      float64
 14  Interest Rate  7 non-null      object
dtypes: datetime64[ns](1), float64(13), object(1)
memory usage: 1.1+ KB
None
        Date  000660.KS  005930.KS         AMD        AMZN        ASML  \
0 2024-05-06        NaN        NaN  155.779999  188.699997  916.919983
1 2024-05-07   179600.0    81300.0  154.429993  188.759995  908.219971
2 2024-05-08   178000.0    81300.0  153.619995  188.000000  911.469971
3 2024-05-09   175400.0    79700.0  152.389999  189.500000  913.539978
4 2024-05-10   179900.0    79200.0  151.919998  187.479996  930.289978

         GOOG        MSFT          MU        NVDA         TSM        ^GSPC  \
0  169.830002  413.540009  120.129997  921.400024  142.830002  5180.740234
1  172.979996  409.339996  119.209999  905.539978  141.110001  5187.700195
2  171.160004  410.540009  119.320000  904.119995  143.600006  5187.669922
3  171.580002  412.320007  117.809998  887.469971  142.789993  5214.080078
4  170.289993  414.739990  121.239998  898.780029  149.259995  5222.680176

          ^IXIC         ^SOX Interest Rate
0  16349.250000  4820.450195          5.33
1  16332.559570  4784.879883          5.33
2  16302.759766  4790.379883          5.33
3  16346.259766  4759.770020          5.33
4  16340.870117  4808.029785          5.33

In [13]:
# Set url to retrieve data
url_sma50 = f'https://www.alphavantage.co/query?function=SMA&symbol=NVDA&interval=daily&time_period=50&series_type=open&apikey=WTH3FILIUYV3ONU8'

#Retrieve data
r = requests.get(url_sma50)
sma50_data = r.json()

In [14]:
# Check keys
print(sma50_data.keys())

dict_keys(['Meta Data', 'Technical Analysis: SMA'])

In [15]:
# Convert json into a DataFrame
sma50_df = pd.DataFrame(sma50_data['Technical Analysis: SMA'])

# Print to check
print(sma50_df)
print(sma50_df.info())

    2024-05-15 2024-05-14 2024-05-13 2024-05-10 2024-05-09 2024-05-08  \
SMA   882.6561   881.2157   880.1211   878.0248   875.7819   873.1994

    2024-05-07 2024-05-06 2024-05-03 2024-05-02  ... 2000-01-25 2000-01-24  \
SMA   871.1784   868.8980   867.1773   864.6238  ...     0.7754     0.7699

    2000-01-21 2000-01-20 2000-01-19 2000-01-18 2000-01-14 2000-01-13  \
SMA     0.7632     0.7570     0.7500     0.7439     0.7375     0.7311

    2000-01-12 2000-01-11
SMA     0.7248     0.7173

[1 rows x 6125 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, SMA to SMA
Columns: 6125 entries, 2024-05-15 to 2000-01-11
dtypes: object(6125)
memory usage: 47.9+ KB
None

In [16]:
# Melt sma50_df
sma50_df = pd.melt(sma50_df)

# Print to check
print(sma50_df)
print(sma50_df.info())

        variable     value
0     2024-05-15  882.6561
1     2024-05-14  881.2157
2     2024-05-13  880.1211
3     2024-05-10  878.0248
4     2024-05-09  875.7819
...          ...       ...
6120  2000-01-18    0.7439
6121  2000-01-14    0.7375
6122  2000-01-13    0.7311
6123  2000-01-12    0.7248
6124  2000-01-11    0.7173

[6125 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6125 entries, 0 to 6124
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variable  6125 non-null   object
 1   value     6125 non-null   object
dtypes: object(2)
memory usage: 95.8+ KB
None

In [17]:
# Rename columns
sma50_df.rename(columns={'variable':'Date','value':'50D SMA'},inplace=True)

# Convert Date to datetime format
sma50_df['Date'] = pd.to_datetime(sma50_df['Date'])

# Print to check
print(sma50_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6125 entries, 0 to 6124
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     6125 non-null   datetime64[ns]
 1   50D SMA  6125 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 95.8+ KB
None

In [18]:
# Set url to retrieve data
url_sma200 = f'https://www.alphavantage.co/query?function=SMA&symbol=NVDA&interval=daily&time_period=200&series_type=open&apikey=WTH3FILIUYV3ONU8'

# Retrieve data
r = requests.get(url_sma200)
sma200_data = r.json()

In [19]:
# Convert json into a DataFrame
sma200_df = pd.DataFrame(sma200_data['Technical Analysis: SMA'])

# Print to check
print(sma200_df)
print(sma200_df.info())

    2024-05-15 2024-05-14 2024-05-13 2024-05-10 2024-05-09 2024-05-08  \
SMA   606.6390   604.3526   602.2055   600.0071   597.7924   595.5125

    2024-05-07 2024-05-06 2024-05-03 2024-05-02  ... 2000-08-28 2000-08-25  \
SMA   593.2744   591.0084   588.8638   586.8470  ...     1.6549     1.6432

    2000-08-24 2000-08-23 2000-08-22 2000-08-21 2000-08-18 2000-08-17  \
SMA     1.6314     1.6200     1.6093     1.5980     1.5854     1.5737

    2000-08-16 2000-08-15
SMA     1.5622     1.5500

[1 rows x 5975 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, SMA to SMA
Columns: 5975 entries, 2024-05-15 to 2000-08-15
dtypes: object(5975)
memory usage: 46.7+ KB
None

In [20]:
# Melt sma200_df
sma200_df = pd.melt(sma200_df)

# Print to check
print(sma200_df)
print(sma200_df.info())

        variable     value
0     2024-05-15  606.6390
1     2024-05-14  604.3526
2     2024-05-13  602.2055
3     2024-05-10  600.0071
4     2024-05-09  597.7924
...          ...       ...
5970  2000-08-21    1.5980
5971  2000-08-18    1.5854
5972  2000-08-17    1.5737
5973  2000-08-16    1.5622
5974  2000-08-15    1.5500

[5975 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5975 entries, 0 to 5974
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variable  5975 non-null   object
 1   value     5975 non-null   object
dtypes: object(2)
memory usage: 93.5+ KB
None

In [21]:
# Rename columns
sma200_df.rename(columns={'variable':'Date','value':'200D SMA'},inplace=True)

# Convert Date to datetime format
sma200_df['Date'] = pd.to_datetime(sma200_df['Date'])

# Print to check
print(sma200_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5975 entries, 0 to 5974
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5975 non-null   datetime64[ns]
 1   200D SMA  5975 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 93.5+ KB
None

In [22]:
# Merge 50d SMA and 200d SMA columns into new_df
new_df = pd.merge(new_df, sma50_df, on='Date', how='left')
new_df = pd.merge(new_df, sma200_df, on='Date', how='left')

# Print to check
print(new_df.info())
print(new_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8 non-null      datetime64[ns]
 1   000660.KS      6 non-null      float64
 2   005930.KS      6 non-null      float64
 3   AMD            8 non-null      float64
 4   AMZN           8 non-null      float64
 5   ASML           8 non-null      float64
 6   GOOG           8 non-null      float64
 7   MSFT           8 non-null      float64
 8   MU             8 non-null      float64
 9   NVDA           8 non-null      float64
 10  TSM            8 non-null      float64
 11  ^GSPC          8 non-null      float64
 12  ^IXIC          8 non-null      float64
 13  ^SOX           8 non-null      float64
 14  Interest Rate  7 non-null      object
 15  50D SMA        8 non-null      object
 16  200D SMA       8 non-null      object
dtypes: datetime64[ns](1), float64(13), object(3)
memory usage: 1.2+ KB
None
        Date  000660.KS  005930.KS         AMD        AMZN        ASML  \
0 2024-05-06        NaN        NaN  155.779999  188.699997  916.919983
1 2024-05-07   179600.0    81300.0  154.429993  188.759995  908.219971
2 2024-05-08   178000.0    81300.0  153.619995  188.000000  911.469971
3 2024-05-09   175400.0    79700.0  152.389999  189.500000  913.539978
4 2024-05-10   179900.0    79200.0  151.919998  187.479996  930.289978

         GOOG        MSFT          MU        NVDA         TSM        ^GSPC  \
0  169.830002  413.540009  120.129997  921.400024  142.830002  5180.740234
1  172.979996  409.339996  119.209999  905.539978  141.110001  5187.700195
2  171.160004  410.540009  119.320000  904.119995  143.600006  5187.669922
3  171.580002  412.320007  117.809998  887.469971  142.789993  5214.080078
4  170.289993  414.739990  121.239998  898.780029  149.259995  5222.680176

          ^IXIC         ^SOX Interest Rate   50D SMA  200D SMA
0  16349.250000  4820.450195          5.33  868.8980  591.0084
1  16332.559570  4784.879883          5.33  871.1784  593.2744
2  16302.759766  4790.379883          5.33  873.1994  595.5125
3  16346.259766  4759.770020          5.33  875.7819  597.7924
4  16340.870117  4808.029785          5.33  878.0248  600.0071

In [23]:
# Forward fill nulls
new_df = new_df.ffill(axis=0)

# Print to check
print(new_df.info())
print(new_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8 non-null      datetime64[ns]
 1   000660.KS      7 non-null      float64
 2   005930.KS      7 non-null      float64
 3   AMD            8 non-null      float64
 4   AMZN           8 non-null      float64
 5   ASML           8 non-null      float64
 6   GOOG           8 non-null      float64
 7   MSFT           8 non-null      float64
 8   MU             8 non-null      float64
 9   NVDA           8 non-null      float64
 10  TSM            8 non-null      float64
 11  ^GSPC          8 non-null      float64
 12  ^IXIC          8 non-null      float64
 13  ^SOX           8 non-null      float64
 14  Interest Rate  8 non-null      object
 15  50D SMA        8 non-null      object
 16  200D SMA       8 non-null      object
dtypes: datetime64[ns](1), float64(13), object(3)
memory usage: 1.2+ KB
None
        Date  000660.KS  005930.KS         AMD        AMZN        ASML  \
0 2024-05-06        NaN        NaN  155.779999  188.699997  916.919983
1 2024-05-07   179600.0    81300.0  154.429993  188.759995  908.219971
2 2024-05-08   178000.0    81300.0  153.619995  188.000000  911.469971
3 2024-05-09   175400.0    79700.0  152.389999  189.500000  913.539978
4 2024-05-10   179900.0    79200.0  151.919998  187.479996  930.289978

         GOOG        MSFT          MU        NVDA         TSM        ^GSPC  \
0  169.830002  413.540009  120.129997  921.400024  142.830002  5180.740234
1  172.979996  409.339996  119.209999  905.539978  141.110001  5187.700195
2  171.160004  410.540009  119.320000  904.119995  143.600006  5187.669922
3  171.580002  412.320007  117.809998  887.469971  142.789993  5214.080078
4  170.289993  414.739990  121.239998  898.780029  149.259995  5222.680176

          ^IXIC         ^SOX Interest Rate   50D SMA  200D SMA
0  16349.250000  4820.450195          5.33  868.8980  591.0084
1  16332.559570  4784.879883          5.33  871.1784  593.2744
2  16302.759766  4790.379883          5.33  873.1994  595.5125
3  16346.259766  4759.770020          5.33  875.7819  597.7924
4  16340.870117  4808.029785          5.33  878.0248  600.0071

In [24]:
# Create list of column names without date
column_names = list(new_df.select_dtypes(include=['float64', 'object']))

# Create columns for previous day
for i, column in enumerate(column_names):
    new_df[f'{column}_pvd'] = new_df[column].shift(1)

# Print to check
print(new_df.info())
display(new_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8 non-null      datetime64[ns]
 1   000660.KS          7 non-null      float64
 2   005930.KS          7 non-null      float64
 3   AMD                8 non-null      float64
 4   AMZN               8 non-null      float64
 5   ASML               8 non-null      float64
 6   GOOG               8 non-null      float64
 7   MSFT               8 non-null      float64
 8   MU                 8 non-null      float64
 9   NVDA               8 non-null      float64
 10  TSM                8 non-null      float64
 11  ^GSPC              8 non-null      float64
 12  ^IXIC              8 non-null      float64
 13  ^SOX               8 non-null      float64
 14  Interest Rate      8 non-null      object
 15  50D SMA            8 non-null      object
 16  200D SMA           8 non-null      object
 17  000660.KS_pvd      6 non-null      float64
 18  005930.KS_pvd      6 non-null      float64
 19  AMD_pvd            7 non-null      float64
 20  AMZN_pvd           7 non-null      float64
 21  ASML_pvd           7 non-null      float64
 22  GOOG_pvd           7 non-null      float64
 23  MSFT_pvd           7 non-null      float64
 24  MU_pvd             7 non-null      float64
 25  NVDA_pvd           7 non-null      float64
 26  TSM_pvd            7 non-null      float64
 27  ^GSPC_pvd          7 non-null      float64
 28  ^IXIC_pvd          7 non-null      float64
 29  ^SOX_pvd           7 non-null      float64
 30  Interest Rate_pvd  7 non-null      object
 31  50D SMA_pvd        7 non-null      object
 32  200D SMA_pvd       7 non-null      object
dtypes: datetime64[ns](1), float64(26), object(6)
memory usage: 2.2+ KB
None

,Date,000660.KS,005930.KS,AMD,AMZN,ASML,GOOG,MSFT,MU,NVDA,...,MSFT_pvd,MU_pvd,NVDA_pvd,TSM_pvd,^GSPC_pvd,^IXIC_pvd,^SOX_pvd,Interest Rate_pvd,50D SMA_pvd,200D SMA_pvd
0,2024-05-06,NaN,NaN,155.779999,188.699997,916.919983,169.830002,413.540009,120.129997,921.400024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
1,2024-05-07,179600.0,81300.0,154.429993,188.759995,908.219971,172.979996,409.339996,119.209999,905.539978,...,413.540009,120.129997,921.400024,142.830002,5180.740234,16349.250000,4820.450195,5.33,868.8980,591.0084
2,2024-05-08,178000.0,81300.0,153.619995,188.000000,911.469971,171.160004,410.540009,119.320000,904.119995,...,409.339996,119.209999,905.539978,141.110001,5187.700195,16332.559570,4784.879883,5.33,871.1784,593.2744
3,2024-05-09,175400.0,79700.0,152.389999,189.500000,913.539978,171.580002,412.320007,117.809998,887.469971,...,410.540009,119.320000,904.119995,143.600006,5187.669922,16302.759766,4790.379883,5.33,873.1994,595.5125
4,2024-05-10,179900.0,79200.0,151.919998,187.479996,930.289978,170.289993,414.739990,121.239998,898.780029,...,412.320007,117.809998,887.469971,142.789993,5214.080078,16346.259766,4759.770020,5.33,875.7819,597.7924

In [25]:
# Create list of columns to drop 
column_names.remove('NVDA')

# Drop columns 
new_df = new_df.drop(column_names,axis=1)

# Print to check
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8 non-null      datetime64[ns]
 1   NVDA               8 non-null      float64
 2   000660.KS_pvd      6 non-null      float64
 3   005930.KS_pvd      6 non-null      float64
 4   AMD_pvd            7 non-null      float64
 5   AMZN_pvd           7 non-null      float64
 6   ASML_pvd           7 non-null      float64
 7   GOOG_pvd           7 non-null      float64
 8   MSFT_pvd           7 non-null      float64
 9   MU_pvd             7 non-null      float64
 10  NVDA_pvd           7 non-null      float64
 11  TSM_pvd            7 non-null      float64
 12  ^GSPC_pvd          7 non-null      float64
 13  ^IXIC_pvd          7 non-null      float64
 14  ^SOX_pvd           7 non-null      float64
 15  Interest Rate_pvd  7 non-null      object
 16  50D SMA_pvd        7 non-null      object
 17  200D SMA_pvd       7 non-null      object
dtypes: datetime64[ns](1), float64(14), object(3)
memory usage: 1.3+ KB
None

In [26]:
# Drop nulls 
new_df = new_df.dropna()

# Print to check
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 2 to 7
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               6 non-null      datetime64[ns]
 1   NVDA               6 non-null      float64
 2   000660.KS_pvd      6 non-null      float64
 3   005930.KS_pvd      6 non-null      float64
 4   AMD_pvd            6 non-null      float64
 5   AMZN_pvd           6 non-null      float64
 6   ASML_pvd           6 non-null      float64
 7   GOOG_pvd           6 non-null      float64
 8   MSFT_pvd           6 non-null      float64
 9   MU_pvd             6 non-null      float64
 10  NVDA_pvd           6 non-null      float64
 11  TSM_pvd            6 non-null      float64
 12  ^GSPC_pvd          6 non-null      float64
 13  ^IXIC_pvd          6 non-null      float64
 14  ^SOX_pvd           6 non-null      float64
 15  Interest Rate_pvd  6 non-null      object
 16  50D SMA_pvd        6 non-null      object
 17  200D SMA_pvd       6 non-null      object
dtypes: datetime64[ns](1), float64(14), object(3)
memory usage: 912.0+ bytes
None

In [27]:
# Check data statistics before Winsorisation
print(new_df.describe())

                      Date        NVDA  000660.KS_pvd  005930.KS_pvd  \
count                    6    6.000000       6.000000       6.000000
mean   2024-05-11 12:00:00  909.036662  180333.333333   79700.000000
min    2024-05-08 00:00:00  887.469971  175400.000000   78300.000000
25%    2024-05-09 06:00:00  900.082520  178400.000000   78600.000000
50%    2024-05-11 12:00:00  904.054993  179750.000000   79450.000000
75%    2024-05-13 18:00:00  911.199997  182825.000000   80900.000000
max    2024-05-15 00:00:00  946.299988  185300.000000   81300.000000
std                    NaN   20.144375    3665.878703    1343.130671

          AMD_pvd    AMZN_pvd    ASML_pvd    GOOG_pvd    MSFT_pvd      MU_pvd  \
count    6.000000    6.000000    6.000000    6.000000    6.000000    6.000000
mean   152.679998  187.896667  915.964986  171.473330  412.870000  120.898332
min    150.559998  186.570007  908.219971  170.289993  409.339996  117.809998
25%    152.037498  187.172504  911.987473  170.964996  410.985008  119.237499
50%    152.775002  187.739998  914.285004  171.370003  413.020004  120.279999
75%    153.504997  188.569996  916.687500  171.842495  414.484993  122.559999
max    154.429993  189.500000  930.289978  172.979996  416.559998  124.809998
std      1.366205    1.090293    7.665198    0.929208    2.684315    2.634930

         NVDA_pvd     TSM_pvd    ^GSPC_pvd     ^IXIC_pvd     ^SOX_pvd
count    6.000000    6.000000     6.000000      6.000000     6.000000
mean   902.243327  145.853333  5213.371745  16370.311523  4811.679932
min    887.469971  141.110001  5187.669922  16302.759766  4759.770020
25%    900.082520  142.992496  5194.295166  16334.637207  4786.254883
50%    904.054993  145.005005  5217.750000  16343.564941  4799.204834
75%    905.184982  148.547497  5222.365112  16377.745117  4819.324829
max    913.559998  151.949997  5246.680176  16511.179688  4903.930176
std      8.668958    4.148380    22.719971     74.295372    50.040365

In [28]:
# Create list of columns to Winsorise
columns_win = ['NVDA', '50D SMA_pvd', '200D SMA_pvd',
               '000660.KS_pvd', 'AMD_pvd', 'MU_pvd',
               'NVDA_pvd']

# Apply Winsorisation
new_df[columns_win] = new_df[columns_win].apply(lambda x: winsorize(x, limits=[0, 0.03]))

# Print to check
print(new_df.describe())

                      Date        NVDA  000660.KS_pvd  005930.KS_pvd  \
count                    6    6.000000       6.000000       6.000000
mean   2024-05-11 12:00:00  909.036662  180333.333333   79700.000000
min    2024-05-08 00:00:00  887.469971  175400.000000   78300.000000
25%    2024-05-09 06:00:00  900.082520  178400.000000   78600.000000
50%    2024-05-11 12:00:00  904.054993  179750.000000   79450.000000
75%    2024-05-13 18:00:00  911.199997  182825.000000   80900.000000
max    2024-05-15 00:00:00  946.299988  185300.000000   81300.000000
std                    NaN   20.144375    3665.878703    1343.130671

          AMD_pvd    AMZN_pvd    ASML_pvd    GOOG_pvd    MSFT_pvd      MU_pvd  \
count    6.000000    6.000000    6.000000    6.000000    6.000000    6.000000
mean   152.679998  187.896667  915.964986  171.473330  412.870000  120.898332
min    150.559998  186.570007  908.219971  170.289993  409.339996  117.809998
25%    152.037498  187.172504  911.987473  170.964996  410.985008  119.237499
50%    152.775002  187.739998  914.285004  171.370003  413.020004  120.279999
75%    153.504997  188.569996  916.687500  171.842495  414.484993  122.559999
max    154.429993  189.500000  930.289978  172.979996  416.559998  124.809998
std      1.366205    1.090293    7.665198    0.929208    2.684315    2.634930

         NVDA_pvd     TSM_pvd    ^GSPC_pvd     ^IXIC_pvd     ^SOX_pvd
count    6.000000    6.000000     6.000000      6.000000     6.000000
mean   902.243327  145.853333  5213.371745  16370.311523  4811.679932
min    887.469971  141.110001  5187.669922  16302.759766  4759.770020
25%    900.082520  142.992496  5194.295166  16334.637207  4786.254883
50%    904.054993  145.005005  5217.750000  16343.564941  4799.204834
75%    905.184982  148.547497  5222.365112  16377.745117  4819.324829
max    913.559998  151.949997  5246.680176  16511.179688  4903.930176
std      8.668958    4.148380    22.719971     74.295372    50.040365

In [29]:
# Export new_df to csv
new_df.to_csv('newdata.csv')