In [1]:
# Import the required libraries
import pandas as pd
import numpy as np
from scipy.stats.mstats import winsorize
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Import data from compiled.csv created by qtdata.ipynb
df = pd.read_csv('compiled.csv', index_col=0)

In [3]:
# Check data
print(df.info())
print(df.describe())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 1296 entries, 0 to 1295
Data columns (total 40 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1296 non-null   object
 1   000660.KS       1296 non-null   float64
 2   005930.KS       1296 non-null   float64
 3   AMD             1296 non-null   float64
 4   AMZN            1296 non-null   float64
 5   ASML            1296 non-null   float64
 6   GOOG            1296 non-null   float64
 7   INTC            1296 non-null   float64
 8   MSFT            1296 non-null   float64
 9   MU              1296 non-null   float64
 10  NVDA            1296 non-null   float64
 11  TSM             1296 non-null   float64
 12  ^GSPC           1296 non-null   float64
 13  ^IXIC           1296 non-null   float64
 14  ^SOX            1296 non-null   float64
 15  000660.KS_chg   1295 non-null   float64
 16  005930.KS_chg   1295 non-null   float64
 17  AMD_chg         1295 non-null   float64
 18  AMZN_chg        1295 non-null   float64
 19  ASML_chg        1295 non-null   float64
 20  GOOG_chg        1295 non-null   float64
 21  INTC_chg        1295 non-null   float64
 22  MSFT_chg        1295 non-null   float64
 23  MU_chg          1295 non-null   float64
 24  NVDA_chg        1295 non-null   float64
 25  TSM_chg         1295 non-null   float64
 26  ^GSPC_chg       1295 non-null   float64
 27  ^IXIC_chg       1295 non-null   float64
 28  ^SOX_chg        1295 non-null   float64
 29  Analyst Action  29 non-null     float64
 30  Insider Sales   150 non-null    float64
 31  Surprise        20 non-null     float64
 32  Surprise Perc   20 non-null     float64
 33  Short           376 non-null    float64
 34  Short Perc      376 non-null    float64
 35  PE Ratio        13 non-null     float64
 36  Volume          1257 non-null   float64
 37  Interest Rate   1296 non-null   float64
 38  50D SMA         1257 non-null   float64
 39  200D SMA        1257 non-null   float64
dtypes: float64(39), object(1)
memory usage: 415.1+ KB
None
           000660.KS     005930.KS          AMD         AMZN         ASML  \
count    1296.000000   1296.000000  1296.000000  1296.000000  1296.000000
mean   102386.678388  61856.686906    88.387515   133.563939   537.252602
std     25169.645070  12212.170233    37.367573    31.028342   205.146250
min     59506.125000  36194.207031    26.240000    81.820000   178.710602
25%     80775.109375  52930.635742    58.929999   101.145002   355.048157
50%     96357.492188  63948.982422    86.054996   135.852745   574.086029
75%    118912.234375  72269.421875   108.599997   161.250126   675.171402
max    188400.000000  85433.320312   211.380005   189.050003  1045.216309

              GOOG         INTC         MSFT           MU         NVDA  ...  \
count  1296.000000  1296.000000  1296.000000  1296.000000  1296.000000  ...
mean    105.171752    42.944712   252.425658    64.841995   228.164453  ...
std      30.474014     9.083028    77.560554    17.546605   192.963338  ...
min      51.811501    23.974880   114.497032    31.850414    33.255775  ...
25%      75.586874    35.382508   199.835522    50.292325   112.127979  ...
50%     106.237499    44.328825   249.961426    63.343040   165.322418  ...
75%     133.261372    50.047869   304.565361    76.989893   273.917130  ...
max     173.690002    62.477161   429.369995   128.009995   950.020020  ...

       Insider Sales   Surprise  Surprise Perc         Short  Short Perc  \
count   1.500000e+02  20.000000      20.000000  3.760000e+02  376.000000
mean    1.744381e+07   0.114000       7.183370  1.553663e+07    0.483336
std     2.765444e+07   0.320795      17.998802  5.565753e+06    0.058325
min     2.504500e+04  -0.750000     -59.523800  5.638565e+06    0.286587
25%     1.676132e+06   0.030000       6.529050  1.159702e+07    0.448632
50%     6.627940e+06   0.065000      10.714300  1.425931e+07    0.476862
75%     2.276916e+07   0.100000      14.393025  1.801031e+07    0.505416
max     1.742460e+08   0.870000      29.186600  4.668580e+07    0.701463

         PE Ratio        Volume  Interest Rate      50D SMA     200D SMA
count   13.000000  1.257000e+03    1296.000000  1257.000000  1257.000000
mean    67.039231  4.567608e+07       2.064375   211.923889   177.256496
std     23.013431  1.852833e+07       2.096608   169.578289   123.207485
min     37.870000  9.788400e+06       0.040000    38.570000    39.653700
25%     52.100000  3.238480e+07       0.090000    97.561800    71.567800
50%     57.390000  4.289440e+07       1.550000   163.198500   163.795100
75%     75.840000  5.563840e+07       4.570000   259.099400   232.105700
max    112.850000  1.543911e+08       5.330000   871.178400   593.274400

[8 rows x 39 columns]
         Date     000660.KS     005930.KS        AMD       AMZN        ASML  \
0  2019-05-10  70162.523438  37687.656250  27.959999  94.499001  189.950531
1  2019-05-13  69313.796875  37468.031250  26.240000  91.134003  182.017609
2  2019-05-14  70351.148438  37468.031250  27.320000  92.005997  189.281448
3  2019-05-15  70256.835938  37380.187500  27.580000  93.557503  191.756927
4  2019-05-16  67804.921875  36501.683594  28.010000  95.378502  193.200150

        GOOG       INTC        MSFT         MU  ...  Insider Sales  Surprise  \
0  58.213501  40.513161  121.014084  38.244068  ...            NaN       NaN
1  56.601501  39.250404  117.415924  36.711952  ...            NaN       NaN
2  56.021999  39.609940  118.729538  37.821766  ...            NaN       NaN
3  58.210499  40.004547  120.401520  37.723545  ...            NaN       NaN
4  58.949001  39.925625  123.181755  36.643200  ...            NaN      0.02

   Surprise Perc  Short  Short Perc  PE Ratio      Volume  Interest Rate  \
0            NaN    NaN         NaN       NaN  56950000.0           2.38
1            NaN    NaN         NaN       NaN  65691200.0           2.38
2            NaN    NaN         NaN       NaN  52488000.0           2.38
3            NaN    NaN         NaN       NaN  50232000.0           2.40
4           10.0    NaN         NaN       NaN  78108800.0           2.39

   50D SMA  200D SMA
0  43.9478   48.7636
1  43.9837   48.6581
2  43.9939   48.5460
3  44.0120   48.4270
4  44.0279   48.3120

[5 rows x 40 columns]

In [4]:
# Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
# Create list of column names
column_names = [col for col in df.columns]

# Create first batch of columns to drop
columns_drop1 = column_names[7:8] + column_names[15:37]

# Drop columns
df = df.drop(columns_drop1, axis=1)

# Print to check
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1296 entries, 0 to 1295
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1296 non-null   datetime64[ns]
 1   000660.KS      1296 non-null   float64
 2   005930.KS      1296 non-null   float64
 3   AMD            1296 non-null   float64
 4   AMZN           1296 non-null   float64
 5   ASML           1296 non-null   float64
 6   GOOG           1296 non-null   float64
 7   MSFT           1296 non-null   float64
 8   MU             1296 non-null   float64
 9   NVDA           1296 non-null   float64
 10  TSM            1296 non-null   float64
 11  ^GSPC          1296 non-null   float64
 12  ^IXIC          1296 non-null   float64
 13  ^SOX           1296 non-null   float64
 14  Interest Rate  1296 non-null   float64
 15  50D SMA        1257 non-null   float64
 16  200D SMA       1257 non-null   float64
dtypes: datetime64[ns](1), float64(16)
memory usage: 182.2 KB
None

In [6]:
# Create list of column names
pvd_names = column_names[1:7] + column_names[8:15] + column_names[37:40]

# Create columns for previous day
for i, column in enumerate(pvd_names):
    df[f'{column}_pvd'] = df[column].shift(1)

# Print to check
print(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 1296 entries, 0 to 1295
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               1296 non-null   datetime64[ns]
 1   000660.KS          1296 non-null   float64
 2   005930.KS          1296 non-null   float64
 3   AMD                1296 non-null   float64
 4   AMZN               1296 non-null   float64
 5   ASML               1296 non-null   float64
 6   GOOG               1296 non-null   float64
 7   MSFT               1296 non-null   float64
 8   MU                 1296 non-null   float64
 9   NVDA               1296 non-null   float64
 10  TSM                1296 non-null   float64
 11  ^GSPC              1296 non-null   float64
 12  ^IXIC              1296 non-null   float64
 13  ^SOX               1296 non-null   float64
 14  Interest Rate      1296 non-null   float64
 15  50D SMA            1257 non-null   float64
 16  200D SMA           1257 non-null   float64
 17  000660.KS_pvd      1295 non-null   float64
 18  005930.KS_pvd      1295 non-null   float64
 19  AMD_pvd            1295 non-null   float64
 20  AMZN_pvd           1295 non-null   float64
 21  ASML_pvd           1295 non-null   float64
 22  GOOG_pvd           1295 non-null   float64
 23  MSFT_pvd           1295 non-null   float64
 24  MU_pvd             1295 non-null   float64
 25  NVDA_pvd           1295 non-null   float64
 26  TSM_pvd            1295 non-null   float64
 27  ^GSPC_pvd          1295 non-null   float64
 28  ^IXIC_pvd          1295 non-null   float64
 29  ^SOX_pvd           1295 non-null   float64
 30  Interest Rate_pvd  1295 non-null   float64
 31  50D SMA_pvd        1256 non-null   float64
 32  200D SMA_pvd       1256 non-null   float64
dtypes: datetime64[ns](1), float64(32)
memory usage: 344.2 KB
None

,Date,000660.KS,005930.KS,AMD,AMZN,ASML,GOOG,MSFT,MU,NVDA,...,MSFT_pvd,MU_pvd,NVDA_pvd,TSM_pvd,^GSPC_pvd,^IXIC_pvd,^SOX_pvd,Interest Rate_pvd,50D SMA_pvd,200D SMA_pvd
0,2019-05-10,70162.523438,37687.656250,27.959999,94.499001,189.950531,58.213501,121.014084,38.244068,41.918369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-05-13,69313.796875,37468.031250,26.240000,91.134003,182.017609,56.601501,117.415924,36.711952,39.343468,...,121.014084,38.244068,41.918369,37.501423,2881.399902,7916.939941,1478.869995,2.38,43.9478,48.7636
2,2019-05-14,70351.148438,37468.031250,27.320000,92.005997,189.281448,56.021999,118.729538,37.821766,40.234871,...,117.415924,36.711952,39.343468,35.890335,2811.870117,7647.020020,1408.949951,2.38,43.9837,48.6581
3,2019-05-15,70256.835938,37380.187500,27.580000,93.557503,191.756927,58.210499,120.401520,37.723545,39.624050,...,118.729538,37.821766,40.234871,36.748409,2834.409912,7734.490234,1442.829956,2.38,43.9939,48.5460
4,2019-05-16,67804.921875,36501.683594,28.010000,95.378502,193.200150,58.949001,123.181755,36.643200,39.775520,...,120.401520,37.723545,39.624050,36.748409,2850.959961,7822.149902,1454.500000,2.40,44.0120,48.4270

In [7]:
# Create second batch of columns to drop 
pvd_names.remove('NVDA')

# Drop second batch of columns - price columns
df = df.drop(pvd_names,axis=1)

# Print to check
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1296 entries, 0 to 1295
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               1296 non-null   datetime64[ns]
 1   NVDA               1296 non-null   float64
 2   000660.KS_pvd      1295 non-null   float64
 3   005930.KS_pvd      1295 non-null   float64
 4   AMD_pvd            1295 non-null   float64
 5   AMZN_pvd           1295 non-null   float64
 6   ASML_pvd           1295 non-null   float64
 7   GOOG_pvd           1295 non-null   float64
 8   MSFT_pvd           1295 non-null   float64
 9   MU_pvd             1295 non-null   float64
 10  NVDA_pvd           1295 non-null   float64
 11  TSM_pvd            1295 non-null   float64
 12  ^GSPC_pvd          1295 non-null   float64
 13  ^IXIC_pvd          1295 non-null   float64
 14  ^SOX_pvd           1295 non-null   float64
 15  Interest Rate_pvd  1295 non-null   float64
 16  50D SMA_pvd        1256 non-null   float64
 17  200D SMA_pvd       1256 non-null   float64
dtypes: datetime64[ns](1), float64(17)
memory usage: 192.4 KB
None

In [8]:
# Forward fill nulls for SMAs
df[['50D SMA_pvd', '200D SMA_pvd']] = df[['50D SMA_pvd', '200D SMA_pvd']].ffill(axis=0)

# Print to check
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 1296 entries, 0 to 1295
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               1296 non-null   datetime64[ns]
 1   NVDA               1296 non-null   float64
 2   000660.KS_pvd      1295 non-null   float64
 3   005930.KS_pvd      1295 non-null   float64
 4   AMD_pvd            1295 non-null   float64
 5   AMZN_pvd           1295 non-null   float64
 6   ASML_pvd           1295 non-null   float64
 7   GOOG_pvd           1295 non-null   float64
 8   MSFT_pvd           1295 non-null   float64
 9   MU_pvd             1295 non-null   float64
 10  NVDA_pvd           1295 non-null   float64
 11  TSM_pvd            1295 non-null   float64
 12  ^GSPC_pvd          1295 non-null   float64
 13  ^IXIC_pvd          1295 non-null   float64
 14  ^SOX_pvd           1295 non-null   float64
 15  Interest Rate_pvd  1295 non-null   float64
 16  50D SMA_pvd        1295 non-null   float64
 17  200D SMA_pvd       1295 non-null   float64
dtypes: datetime64[ns](1), float64(17)
memory usage: 192.4 KB
None
        Date       NVDA  000660.KS_pvd  005930.KS_pvd    AMD_pvd   AMZN_pvd  \
0 2019-05-10  41.918369            NaN            NaN        NaN        NaN
1 2019-05-13  39.343468   70162.523438    37687.65625  27.959999  94.499001
2 2019-05-14  40.234871   69313.796875    37468.03125  26.240000  91.134003
3 2019-05-15  39.624050   70351.148438    37468.03125  27.320000  92.005997
4 2019-05-16  39.775520   70256.835938    37380.18750  27.580000  93.557503

     ASML_pvd   GOOG_pvd    MSFT_pvd     MU_pvd   NVDA_pvd    TSM_pvd  \
0         NaN        NaN         NaN        NaN        NaN        NaN
1  189.950531  58.213501  121.014084  38.244068  41.918369  37.501423
2  182.017609  56.601501  117.415924  36.711952  39.343468  35.890335
3  189.281448  56.021999  118.729538  37.821766  40.234871  36.748409
4  191.756927  58.210499  120.401520  37.723545  39.624050  36.748409

     ^GSPC_pvd    ^IXIC_pvd     ^SOX_pvd  Interest Rate_pvd  50D SMA_pvd  \
0          NaN          NaN          NaN                NaN          NaN
1  2881.399902  7916.939941  1478.869995               2.38      43.9478
2  2811.870117  7647.020020  1408.949951               2.38      43.9837
3  2834.409912  7734.490234  1442.829956               2.38      43.9939
4  2850.959961  7822.149902  1454.500000               2.40      44.0120

   200D SMA_pvd
0           NaN
1       48.7636
2       48.6581
3       48.5460
4       48.4270

In [9]:
# Drop residual nulls
df.dropna(inplace=True)

# Print to check
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1295 entries, 1 to 1295
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               1295 non-null   datetime64[ns]
 1   NVDA               1295 non-null   float64
 2   000660.KS_pvd      1295 non-null   float64
 3   005930.KS_pvd      1295 non-null   float64
 4   AMD_pvd            1295 non-null   float64
 5   AMZN_pvd           1295 non-null   float64
 6   ASML_pvd           1295 non-null   float64
 7   GOOG_pvd           1295 non-null   float64
 8   MSFT_pvd           1295 non-null   float64
 9   MU_pvd             1295 non-null   float64
 10  NVDA_pvd           1295 non-null   float64
 11  TSM_pvd            1295 non-null   float64
 12  ^GSPC_pvd          1295 non-null   float64
 13  ^IXIC_pvd          1295 non-null   float64
 14  ^SOX_pvd           1295 non-null   float64
 15  Interest Rate_pvd  1295 non-null   float64
 16  50D SMA_pvd        1295 non-null   float64
 17  200D SMA_pvd       1295 non-null   float64
dtypes: datetime64[ns](1), float64(17)
memory usage: 192.2 KB
None

In [10]:
# Check data statistics before Winsorisation
print(df.describe())

                                Date         NVDA  000660.KS_pvd  \
count                           1295  1295.000000    1295.000000
mean   2021-11-07 19:03:06.254826240   228.308272  102327.054202
min              2019-05-13 00:00:00    33.255775   59506.125000
25%              2020-08-10 12:00:00   112.363861   80727.453125
50%              2021-11-09 00:00:00   165.487259   96285.210938
75%              2023-02-04 12:00:00   274.092072  118912.234375
max              2024-05-07 00:00:00   950.020020  188400.000000
std                              NaN   192.968385   25087.640616

       005930.KS_pvd      AMD_pvd     AMZN_pvd     ASML_pvd     GOOG_pvd  \
count    1295.000000  1295.000000  1295.000000  1295.000000  1295.000000
mean    61841.672765    88.336517   133.521317   536.966141   105.119391
min     36194.207031    26.240000    81.820000   178.710602    51.811501
25%     52908.197266    58.920000   101.130001   355.026459    75.580250
50%     63900.933594    86.019997   135.690994   573.056763   106.214996
75%     72269.421875   108.500000   161.232002   675.069000   133.235001
max     85433.320312   211.380005   189.050003  1045.216309   173.690002
std     12204.916171    37.336863    31.002351   204.966034    30.427408

          MSFT_pvd       MU_pvd     NVDA_pvd      TSM_pvd    ^GSPC_pvd  \
count  1295.000000  1295.000000  1295.000000  1295.000000  1295.000000
mean    252.304489    64.800012   227.641383    85.801676  3914.734534
min     114.497032    31.850414    33.255775    32.965874  2237.399902
25%     199.767662    50.289873   112.069710    62.097029  3336.609985
50%     249.856705    63.338058   165.157578    88.620407  4001.050049
75%     304.278992    76.975792   273.675964   108.725304  4403.495117
max     429.369995   128.009995   950.020020   148.596573  5254.350098
std      77.467708    17.488145   192.116533    27.801220   649.804930

          ^IXIC_pvd     ^SOX_pvd  Interest Rate_pvd  50D SMA_pvd  200D SMA_pvd
count   1295.000000  1295.000000        1295.000000  1295.000000   1295.000000
mean   12117.717585  2853.470689           2.061853   211.320282    176.986533
min     6860.669922  1286.839966           0.040000    38.570000     39.653700
25%    10497.860352  2150.915039           0.090000    97.839350     71.730700
50%    12284.740234  2982.060059           1.550000   163.198500    163.834000
75%    14033.889648  3421.074951           4.570000   258.985650    232.005850
max    16442.199219  5165.830078           5.330000   868.898000    591.008400
std     2469.117339   868.307257           2.095451   168.258346    122.496839

In [11]:
# Create list of columns to Winsorise
columns_win = ['NVDA', '50D SMA_pvd', '200D SMA_pvd',
               '000660.KS_pvd', 'AMD_pvd', 'MU_pvd',
               'NVDA_pvd']

# Apply Winsorisation
df[columns_win] = df[columns_win].apply(lambda x: winsorize(x, limits=[0, 0.03]))

# Print to check
print(df.describe())

                                Date         NVDA  000660.KS_pvd  \
count                           1295  1295.000000    1295.000000
mean   2021-11-07 19:03:06.254826240   227.177254  101966.162913
min              2019-05-13 00:00:00    33.255775   59506.125000
25%              2020-08-10 12:00:00   112.363861   80727.453125
50%              2021-11-09 00:00:00   165.487259   96285.210938
75%              2023-02-04 12:00:00   274.092072  118912.234375
max              2024-05-07 00:00:00   852.330017  164626.984375
std                              NaN   189.109033   24051.443582

       005930.KS_pvd      AMD_pvd     AMZN_pvd     ASML_pvd     GOOG_pvd  \
count    1295.000000  1295.000000  1295.000000  1295.000000  1295.000000
mean    61841.672765    87.990286   133.521317   536.966141   105.119391
min     36194.207031    26.240000    81.820000   178.710602    51.811501
25%     52908.197266    58.920000   101.130001   355.026459    75.580250
50%     63900.933594    86.019997   135.690994   573.056763   106.214996
75%     72269.421875   108.500000   161.232002   675.069000   133.235001
max     85433.320312   174.229996   189.050003  1045.216309   173.690002
std     12204.916171    36.423206    31.002351   204.966034    30.427408

          MSFT_pvd       MU_pvd     NVDA_pvd      TSM_pvd    ^GSPC_pvd  \
count  1295.000000  1295.000000  1295.000000  1295.000000  1295.000000
mean    252.304489    64.246834   226.386542    85.801676  3914.734534
min     114.497032    31.850414    33.255775    32.965874  2237.399902
25%     199.767662    50.289873   112.069710    62.097029  3336.609985
50%     249.856705    63.338058   165.157578    88.620407  4001.050049
75%     304.278992    76.975792   273.675964   108.725304  4403.495117
max     429.369995    95.855751   846.710022   148.596573  5254.350098
std      77.467708    16.078041   187.831523    27.801220   649.804930

          ^IXIC_pvd     ^SOX_pvd  Interest Rate_pvd  50D SMA_pvd  200D SMA_pvd
count   1295.000000  1295.000000        1295.000000  1295.000000   1295.000000
mean   12117.717585  2853.470689           2.061853   207.857079    175.657453
min     6860.669922  1286.839966           0.040000    38.570000     39.653700
25%    10497.860352  2150.915039           0.090000    97.839350     71.730700
50%    12284.740234  2982.060059           1.550000   163.198500    163.834000
75%    14033.889648  3421.074951           4.570000   258.985650    232.005850
max    16442.199219  5165.830078           5.330000   682.047100    506.449900
std     2469.117339   868.307257           2.095451   156.665008    118.531970

In [12]:
# Create list of column names without Date
updcolumn_names = [col for col in df.columns]
columns_nodate = updcolumn_names[1:18]

# Create new DataFrame excluding Date column
nodate_df = df.drop('Date', axis=1)

# Create new DataFrame with only Date column
date_df = df['Date']

# Set MinMax scaling range between 0 and 1 
scaler = MinMaxScaler(feature_range=(0, 1)) 

# Apply MinMax scaling
scaled_data = scaler.fit_transform(nodate_df)

# Convert scaled data back to DataFrame
scaled_df = pd.DataFrame(scaled_data, columns=columns_nodate)

In [13]:
# Reset indexes
date_df = date_df.reset_index(drop=True)
scaled_df = scaled_df.reset_index(drop=True)

# Print to check
print(date_df.info())
print(scaled_df.info())

<class 'pandas.core.series.Series'>
RangeIndex: 1295 entries, 0 to 1294
Series name: Date
Non-Null Count  Dtype
--------------  -----
1295 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 10.2 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NVDA               1295 non-null   float64
 1   000660.KS_pvd      1295 non-null   float64
 2   005930.KS_pvd      1295 non-null   float64
 3   AMD_pvd            1295 non-null   float64
 4   AMZN_pvd           1295 non-null   float64
 5   ASML_pvd           1295 non-null   float64
 6   GOOG_pvd           1295 non-null   float64
 7   MSFT_pvd           1295 non-null   float64
 8   MU_pvd             1295 non-null   float64
 9   NVDA_pvd           1295 non-null   float64
 10  TSM_pvd            1295 non-null   float64
 11  ^GSPC_pvd          1295 non-null   float64
 12  ^IXIC_pvd          1295 non-null   float64
 13  ^SOX_pvd           1295 non-null   float64
 14  Interest Rate_pvd  1295 non-null   float64
 15  50D SMA_pvd        1295 non-null   float64
 16  200D SMA_pvd       1295 non-null   float64
dtypes: float64(17)
memory usage: 172.1 KB
None

In [14]:
# Combine date_df with scaled_df
final_df = pd.concat([date_df, scaled_df], axis=1)

# Print to check
print(final_df.info())
print(final_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               1295 non-null   datetime64[ns]
 1   NVDA               1295 non-null   float64
 2   000660.KS_pvd      1295 non-null   float64
 3   005930.KS_pvd      1295 non-null   float64
 4   AMD_pvd            1295 non-null   float64
 5   AMZN_pvd           1295 non-null   float64
 6   ASML_pvd           1295 non-null   float64
 7   GOOG_pvd           1295 non-null   float64
 8   MSFT_pvd           1295 non-null   float64
 9   MU_pvd             1295 non-null   float64
 10  NVDA_pvd           1295 non-null   float64
 11  TSM_pvd            1295 non-null   float64
 12  ^GSPC_pvd          1295 non-null   float64
 13  ^IXIC_pvd          1295 non-null   float64
 14  ^SOX_pvd           1295 non-null   float64
 15  Interest Rate_pvd  1295 non-null   float64
 16  50D SMA_pvd        1295 non-null   float64
 17  200D SMA_pvd       1295 non-null   float64
dtypes: datetime64[ns](1), float64(17)
memory usage: 182.2 KB
None
                                Date         NVDA  000660.KS_pvd  \
count                           1295  1295.000000    1295.000000
mean   2021-11-07 19:03:06.254826240     0.236757       0.403916
min              2019-05-13 00:00:00     0.000000       0.000000
25%              2020-08-10 12:00:00     0.096582       0.201876
50%              2021-11-09 00:00:00     0.161440       0.349874
75%              2023-02-04 12:00:00     0.294035       0.565122
max              2024-05-07 00:00:00     1.000000       1.000000
std                              NaN     0.230881       0.228798

       005930.KS_pvd      AMD_pvd     AMZN_pvd     ASML_pvd     GOOG_pvd  \
count    1295.000000  1295.000000  1295.000000  1295.000000  1295.000000
mean        0.520876     0.417260     0.482153     0.413449     0.437386
min         0.000000     0.000000     0.000000     0.000000     0.000000
25%         0.339445     0.220826     0.180080     0.203479     0.195020
50%         0.562698     0.403946     0.502387     0.455099     0.446375
75%         0.732654     0.555848     0.740576     0.572828     0.668071
max         1.000000     1.000000     1.000000     1.000000     1.000000
std         0.247870     0.246119     0.289120     0.236543     0.249654

          MSFT_pvd       MU_pvd     NVDA_pvd      TSM_pvd    ^GSPC_pvd  \
count  1295.000000  1295.000000  1295.000000  1295.000000  1295.000000
mean      0.437660     0.506152     0.237421     0.456936     0.555970
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.270810     0.288093     0.096888     0.251933     0.364345
50%       0.429887     0.491953     0.162150     0.481313     0.584580
75%       0.602725     0.705025     0.295555     0.655184     0.717975
max       1.000000     1.000000     1.000000     1.000000     1.000000
std       0.246028     0.251198     0.230906     0.240431     0.215385

         ^IXIC_pvd     ^SOX_pvd  Interest Rate_pvd  50D SMA_pvd  200D SMA_pvd
count  1295.000000  1295.000000        1295.000000  1295.000000   1295.000000
mean      0.548665     0.403876           0.382203     0.263082      0.291356
min       0.000000     0.000000           0.000000     0.000000      0.000000
25%       0.379604     0.222758           0.009452     0.092108      0.068717
50%       0.566097     0.437026           0.285444     0.193680      0.266027
75%       0.748651     0.550204           0.856333     0.342538      0.412069
max       1.000000     1.000000           1.000000     1.000000      1.000000
std       0.257696     0.223849           0.396115     0.243466      0.253927

In [15]:
# Export df to csv
# final_df.to_csv('processed.csv')

In [16]:
# Import new data
pdata_df = pd.read_csv('pastdata.csv', index_col=0)
print(pdata_df.info())
print(pdata_df.head())
print(pdata_df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 1294 entries, 1 to 1294
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               1294 non-null   object
 1   NVDA               1294 non-null   float64
 2   000660.KS_pvd      1294 non-null   float64
 3   005930.KS_pvd      1294 non-null   float64
 4   AMD_pvd            1294 non-null   float64
 5   AMZN_pvd           1294 non-null   float64
 6   ASML_pvd           1294 non-null   float64
 7   GOOG_pvd           1294 non-null   float64
 8   MSFT_pvd           1294 non-null   float64
 9   MU_pvd             1294 non-null   float64
 10  NVDA_pvd           1294 non-null   float64
 11  TSM_pvd            1294 non-null   float64
 12  ^GSPC_pvd          1294 non-null   float64
 13  ^IXIC_pvd          1294 non-null   float64
 14  ^SOX_pvd           1294 non-null   float64
 15  Interest Rate_pvd  1294 non-null   float64
 16  50D SMA_pvd        1294 non-null   float64
 17  200D SMA_pvd       1294 non-null   float64
dtypes: float64(17), object(1)
memory usage: 192.1+ KB
None
         Date      NVDA  000660.KS_pvd  005930.KS_pvd  AMD_pvd  AMZN_pvd  \
1  2014-05-13  4.330766   36227.230469   21956.066406     3.97   15.1430
2  2014-05-14  4.288121   36489.750000   22145.890625     4.03   15.2320
3  2014-05-15  4.264430   36839.769531   22383.169922     3.98   14.8810
4  2014-05-16  4.254953   36752.265625   22304.076172     3.96   14.7595
5  2014-05-19  4.392363   36971.019531   22588.814453     4.02   14.8850

    ASML_pvd   GOOG_pvd   MSFT_pvd     MU_pvd  NVDA_pvd    TSM_pvd  \
1  74.723244  26.423454  33.846798  27.018345  4.401841  15.387698
2  73.877426  26.581520  34.469318  27.136204  4.330766  15.425060
3  73.659134  26.260403  34.315819  26.379965  4.288121  15.380223
4  73.377213  25.927814  33.770039  25.397835  4.264430  15.440014
5  73.731903  25.960226  33.966183  25.564798  4.254953  15.522217

     ^GSPC_pvd    ^IXIC_pvd    ^SOX_pvd  Interest Rate_pvd  50D SMA_pvd  \
1  1896.650024  4143.859863  586.479980               0.08       4.3683
2  1897.449951  4130.169922  581.880005               0.09       4.3700
3  1888.530029  4100.629883  576.799988               0.08       4.3696
4  1870.849976  4069.290039  570.000000               0.09       4.3677
5  1877.859985  4090.590088  576.010010               0.09       4.3638

   200D SMA_pvd
1        3.8441
2        3.8494
3        3.8545
4        3.8593
5        3.8637
              NVDA  000660.KS_pvd  005930.KS_pvd      AMD_pvd     AMZN_pvd  \
count  1294.000000    1294.000000    1294.000000  1294.000000  1294.000000
mean     26.111841   49316.112638   29993.246168     9.548029    46.023384
std      21.171284   17859.992322    9392.281438     7.407094    25.542509
min       4.013763   23050.371094   17137.892578     1.620000    14.347500
25%       5.486200   35978.044922   20906.735840     2.760000    25.194000
50%      17.717702   42553.990234   26868.197266     7.545000    38.871000
75%      44.246037   67032.117188   39514.480469    13.367500    69.576876
max      65.593605   80548.898438   47898.828125    27.690001   101.975502

          ASML_pvd     GOOG_pvd     MSFT_pvd       MU_pvd     NVDA_pvd  \
count  1294.000000  1294.000000  1294.000000  1294.000000  1294.000000
mean    123.553482    41.442461    62.954504    29.542454    26.082585
std      40.431076    11.238223    24.372812    12.464690    21.175110
min      70.987434    24.560070    33.770039     9.389146     4.013763
25%      90.091259    31.122125    41.387632    17.781430     5.483190
50%     101.377399    39.124001    54.302771    29.345990    17.608222
75%     164.290344    51.962625    84.360611    39.258121    44.246037
max     208.574188    64.378998   124.317131    55.146500    65.593605

           TSM_pvd    ^GSPC_pvd    ^IXIC_pvd     ^SOX_pvd  Interest Rate_pvd  \
count  1294.000000  1294.000000  1294.000000  1294.000000        1294.000000
mean     25.318166  2321.759149  5829.353491   941.096908           0.854876
std       7.736049   318.549081  1174.567728   297.236190           0.782924
min      14.791258  1829.079956  4069.290039   549.469971           0.060000
25%      17.835396  2060.997498  4844.177612   666.132507           0.130000
50%      24.418492  2183.960083  5305.729980   834.654999           0.410000
75%      32.773689  2640.652588  6966.987305  1241.264954           1.420000
max      39.769184  2945.830078  8164.000000  1589.020020           2.450000

       50D SMA_pvd  200D SMA_pvd
count  1294.000000   1294.000000
mean     25.336013     22.982737
std      21.204018     20.591864
min       4.362400      3.844100
25%       5.264000      5.053325
50%      16.262000     11.856000
75%      42.735850     43.699475
max      66.120400     61.368700

In [17]:
# Create list of column names
pdata_column_names = [col for col in pdata_df.columns]

# Create list of columns without date
pdata_columns_nodate = pdata_column_names[1:18]

In [18]:
# Create new DataFrame excluding Date column
pdata_df_date = pdata_df['Date']

# Create new DataFrame with only Date column
pdata_df_nodate = pdata_df.drop('Date', axis=1)

# Print to check
print(pdata_df_date.info())
print(pdata_df_nodate.info())

<class 'pandas.core.series.Series'>
Index: 1294 entries, 1 to 1294
Series name: Date
Non-Null Count  Dtype
--------------  -----
1294 non-null   object
dtypes: object(1)
memory usage: 20.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 1294 entries, 1 to 1294
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NVDA               1294 non-null   float64
 1   000660.KS_pvd      1294 non-null   float64
 2   005930.KS_pvd      1294 non-null   float64
 3   AMD_pvd            1294 non-null   float64
 4   AMZN_pvd           1294 non-null   float64
 5   ASML_pvd           1294 non-null   float64
 6   GOOG_pvd           1294 non-null   float64
 7   MSFT_pvd           1294 non-null   float64
 8   MU_pvd             1294 non-null   float64
 9   NVDA_pvd           1294 non-null   float64
 10  TSM_pvd            1294 non-null   float64
 11  ^GSPC_pvd          1294 non-null   float64
 12  ^IXIC_pvd          1294 non-null   float64
 13  ^SOX_pvd           1294 non-null   float64
 14  Interest Rate_pvd  1294 non-null   float64
 15  50D SMA_pvd        1294 non-null   float64
 16  200D SMA_pvd       1294 non-null   float64
dtypes: float64(17)
memory usage: 182.0 KB
None

In [19]:
# Scale new data
pscaled_data = scaler.transform(pdata_df_nodate)

# Convert scaled data back to DataFrame
pscaled_df = pd.DataFrame(pscaled_data, columns=pdata_columns_nodate)

In [20]:
# Reset indexes
pdata_df_date = pdata_df_date.reset_index(drop=True)
pscaled_df = pscaled_df.reset_index(drop=True)

# Print to check
print(pdata_df_date.info())
print(pscaled_df.info())

<class 'pandas.core.series.Series'>
RangeIndex: 1294 entries, 0 to 1293
Series name: Date
Non-Null Count  Dtype
--------------  -----
1294 non-null   object
dtypes: object(1)
memory usage: 10.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1294 entries, 0 to 1293
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NVDA               1294 non-null   float64
 1   000660.KS_pvd      1294 non-null   float64
 2   005930.KS_pvd      1294 non-null   float64
 3   AMD_pvd            1294 non-null   float64
 4   AMZN_pvd           1294 non-null   float64
 5   ASML_pvd           1294 non-null   float64
 6   GOOG_pvd           1294 non-null   float64
 7   MSFT_pvd           1294 non-null   float64
 8   MU_pvd             1294 non-null   float64
 9   NVDA_pvd           1294 non-null   float64
 10  TSM_pvd            1294 non-null   float64
 11  ^GSPC_pvd          1294 non-null   float64
 12  ^IXIC_pvd          1294 non-null   float64
 13  ^SOX_pvd           1294 non-null   float64
 14  Interest Rate_pvd  1294 non-null   float64
 15  50D SMA_pvd        1294 non-null   float64
 16  200D SMA_pvd       1294 non-null   float64
dtypes: float64(17)
memory usage: 172.0 KB
None

In [21]:
# Combine pdata_df_date with pscaled_df
pdata_final_df = pd.concat([pdata_df_date, pscaled_df], axis=1)

# Print to check
print(pdata_final_df.info())
print(pdata_final_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1294 entries, 0 to 1293
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               1294 non-null   object
 1   NVDA               1294 non-null   float64
 2   000660.KS_pvd      1294 non-null   float64
 3   005930.KS_pvd      1294 non-null   float64
 4   AMD_pvd            1294 non-null   float64
 5   AMZN_pvd           1294 non-null   float64
 6   ASML_pvd           1294 non-null   float64
 7   GOOG_pvd           1294 non-null   float64
 8   MSFT_pvd           1294 non-null   float64
 9   MU_pvd             1294 non-null   float64
 10  NVDA_pvd           1294 non-null   float64
 11  TSM_pvd            1294 non-null   float64
 12  ^GSPC_pvd          1294 non-null   float64
 13  ^IXIC_pvd          1294 non-null   float64
 14  ^SOX_pvd           1294 non-null   float64
 15  Interest Rate_pvd  1294 non-null   float64
 16  50D SMA_pvd        1294 non-null   float64
 17  200D SMA_pvd       1294 non-null   float64
dtypes: float64(17), object(1)
memory usage: 182.1+ KB
None
              NVDA  000660.KS_pvd  005930.KS_pvd      AMD_pvd     AMZN_pvd  \
count  1294.000000    1294.000000    1294.000000  1294.000000  1294.000000
mean     -0.008722      -0.096936      -0.125936    -0.112791    -0.333830
std       0.025848       0.169900       0.190748     0.050051     0.238203
min      -0.035701      -0.346798      -0.387016    -0.166363    -0.629232
25%      -0.033904      -0.223819      -0.310474    -0.158659    -0.528080
50%      -0.018970      -0.161263      -0.189402    -0.126326    -0.400532
75%       0.013418       0.071594       0.067432    -0.086982    -0.114176
max       0.039481       0.200177       0.237710     0.009798     0.187965

          ASML_pvd     GOOG_pvd     MSFT_pvd       MU_pvd     NVDA_pvd  \
count  1294.000000  1294.000000  1294.000000  1294.000000  1294.000000
mean     -0.063655    -0.085077    -0.163693    -0.036059    -0.008818
std       0.046660     0.092208     0.077405     0.194745     0.026031
min      -0.124319    -0.223595    -0.256380    -0.350928    -0.035948
25%      -0.102272    -0.169754    -0.232187    -0.219810    -0.034142
50%      -0.089247    -0.104100    -0.191170    -0.039128    -0.019236
75%      -0.016642     0.001240    -0.095710     0.115736     0.013511
max       0.034464     0.103115     0.031187     0.363971     0.039754

           TSM_pvd    ^GSPC_pvd    ^IXIC_pvd     ^SOX_pvd  Interest Rate_pvd  \
count  1294.000000  1294.000000  1294.000000  1294.000000        1294.000000
mean     -0.066139     0.027962    -0.107636    -0.089132           0.154041
std       0.066903     0.105586     0.122587     0.076627           0.148001
min      -0.157178    -0.135342    -0.291329    -0.190093           0.003781
25%      -0.130852    -0.058470    -0.210456    -0.160018           0.017013
50%      -0.073920    -0.017713    -0.162285    -0.116573           0.069943
75%      -0.001662     0.133662     0.011096    -0.011749           0.260870
max       0.058837     0.234817     0.136025     0.077902           0.455577

       50D SMA_pvd  200D SMA_pvd
count  1294.000000   1294.000000
mean     -0.020566     -0.035714
std       0.032952      0.044113
min      -0.053161     -0.076714
25%      -0.051759     -0.074123
50%      -0.034668     -0.059550
75%       0.006474      0.008667
max       0.042815      0.046519

In [22]:
# Export df to csv
pdata_final_df.to_csv('processed_past.csv')